[2017-04-29 17:31] SergeyPirogov opened #3 "pip install doesn't work"
Tried to install using pip install got an error:
[code]

[2017-04-29 19:08] SergeyPirogov opened #4 "no stacktrace for failed tests"

[2017-05-02 09:57] krasoffski commented on #3
Hi,
Could you provide initial command?
It seem like there is no pytest-reportportal in the pypi.python.org repository.

[2017-05-02 12:54] ppapou commented on #3
Hello,
The version 0.2.3 with is added to the PyPi.

[2017-05-02 15:34] DzmitryHumianiuk commented on #3
fixed within 0.2.3

[2017-05-02 15:34] #3 closed

[2017-05-02 17:49] SergeyPirogov commented on #3
Yeeees https://pypi.python.org/pypi/pytest-reportportal. Thanks for quick fix

[2017-05-04 18:27] avarabyeu commented on #4
Have it fixed?

[2017-05-05 20:36] krasoffski commented on #4
Exception is posted but as log message, stack trace contain un-formatted line.
![image](https://cloud.githubusercontent.com/assets/1073415/25763386/7a489f88-31eb-11e7-863b-bfa050d8dd71.png)

[2017-05-16 11:57] DzmitryHumianiuk commented on #4
_component:ui_

will be fixed with 3.0.3

[2017-06-12 16:10] krasoffski opened #24 "Not-started service termination for wrong uuid."
Need to check with more options.

__How to reproduce:__
1. Create `pytest.ini` file and specify invalid `rp_uuid` parameter and `rp_ignore_errors = True`.
2. Copy paste example from readme file to test_sample.py
3. Run tests with command: `pytest test_sample.py`

__Actual result for launch with all passed tests__:
Traceback about service terminating is printed out but should not.
[code]
__Actual r

[2017-06-26 13:25] DKorytkin opened #26 "reportportal_client.errors.ResponseError: 40023"
[code]

[code]

[2017-06-26 13:26] DKorytkin opened #27 "reportportal_client.errors.ResponseError: Error during updating TestItem null"
[code]

[2017-06-26 15:13] DKorytkin opened #28 "reportportal_client.errors.Error: Service already stopped."
[code]

[2017-06-28 05:57] krasoffski commented on #28
Closed as duplicate of Issue #24

[2017-06-28 05:57] #28 closed

[2017-07-03 14:39] DKorytkin commented on #24
When you make fix this bug?

[2017-07-03 15:42] Sikamaru opened #29 "Several launches are created for each process when tests are running in parallel with xdist library"
Example of test:

[code]

Run:

[code]

Results in report portal:

![image](https://user-images.githubusercontent.com/3896548/27799747-0e7c7e7a-601f-11e7-98c5-c5bddaff66ad.png)

3 different launches were created. I think - first during initialization, second and third for each thread with test.

[2017-07-04 07:16] krasoffski commented on #24
Hi,
It is hard to say because RP Python part is developed by community using their personal free time, thus it is hard to predict.
P.S. Any help/contribution from your side is very appreciated.

[2017-07-04 08:17] krasoffski commented on #29
Hi,
Thank you for detailed issue!
Here is my thoughts.

Quick look shows that `xdist` module uses `py.process.ForkedFunc` which utilizes `os.fork` call.
Report Portal client internally keeps connection in the singleton class which works for threads. In case of processes (os.fork, multiprocessing, etc)  we need to add some IPC or have one lunch for multiple py.test execution because each process cr

[2017-07-04 08:33] krasoffski commented on #26
It would be great to have a code snippet how to reproduce this issue.

Thanks,

[2017-07-04 08:35] krasoffski commented on #27
Without steps/snippet it will be hard to reproduce this problem and fix them.

[2017-07-04 08:39] Sikamaru commented on #29
@krasoffski  Thanks for your comment and explanation!
Maybe you can give an advice or sample example how can I get around issue now, and work with multiple subprocesses?
It'll be very useful!

[2017-07-04 09:12] krasoffski commented on #29
@Sikamaru
In the first approximation there is no quick dirty solution :-(

But what I quickly came to my mind: (just ideas which need to check/discuss).

1. Make initialization of `pytest_reportportal` plugin before `xdist`. In this case after fork all test function will have the initialized connection. But as a side effect this will work only for Linux/Unix. Also not sure that is possible to crea

[2017-07-05 15:43] dsheshnev opened #30 "Incorrect value in save log request caused by @pytest.mark.xfail(run=False)"
example of test:
[code]
run:
[code]

In reportportal: 2 launches that will not stop

[2017-07-07 15:54] DzmitryHumianiuk commented on #27
@DKorytkin could you please share steps/snippet?

[2017-07-07 15:54] DzmitryHumianiuk commented on #26
@DKorytkin coul you please share a simple code snippet how to reproduce this issue?

[2017-07-26 14:17] krasoffski commented on #24
I'm started investigation of this issue.
The root cause of problem is following part of code
[code]
`self.RP` is instance of `ReportPortalServiceAsync` which contains instance of `ReportPortalService` and as a result quite rare can be `None`.

[2017-08-29 08:28] MrTuzki opened #31 "An empty launch reported to ReportPortal when i run 'pytest ---collect-only'"
I think this is not what we expect.

My version:
python-reportportal   1.0.0
reportportal-client     3.0.0

[2017-08-29 10:24] PositiveAlex commented on #31
Please provide here message about what do you expect

[2017-08-30 08:45] krasoffski commented on #31
I think adding `rp_launch` option to config file was a bad idea. In my option it would be better to keep only CLI option `--rp-launch` which __always__ creates new launch in RP.

[2017-09-05 15:56] Sikamaru commented on #30
@MrTuzki the same issue with @pytest.mark.skip()

You fix also affects this and works.

[2017-09-05 15:59] PositiveAlex commented on #30
You can write some unit tests and then we can merge this PR.

Thanks!

On вт, 5 сент. 2017, 18:56 Sikamaru <notifications@github.com> wrote:

--

С уважением,
Илюшкин Александр.
E-mail: positivealex@gmail.com

[2017-09-05 21:41] #30 closed

[2017-09-06 18:51] Sikamaru opened #33 "Include feature to exclude pytest marks"
Hi, during tests automation I've faced with small problem - all pytest marks are send to report portal as tags.
It's really useful feature but sometimes I use marks which I don't want to sent to RP:
@pytest.mark.skip
@pytest.mark.usefixtures
@pytest.mark.xfail
and etc.

Could you think about this improvement?
Maybe it will be helpfull to add additional option in pytest.ini like rp_ignore_tags

[2017-09-06 19:19] PositiveAlex commented on #33
I think it is good to have feature.
So here we need to add this config option, update documentation and unit tests.

You're welcome to create pull request for this!

[2017-09-06 20:27] Sikamaru commented on #33
@PositiveAlex

I can try, but I'm not sure that my knowledge in python  will be enough for this)

[2017-09-07 01:15] PositiveAlex commented on #26
For me this could be faced in two cases:

- parallel execution: one launch ends first while second still running.
- fixed launch id plus two separate test runs.

[2017-09-07 11:27] #33 closed

[2017-09-25 14:45] DzmitryHumianiuk commented on #29
https://stackoverflow.com/questions/44847975/how-can-i-run-tests-in-parallels-using-xdist-with-single-launch

[2017-10-24 07:17] 132u commented on #26
The same bug is stable reproduced for me when some method which is executed after scenario in Hook class throws NullRefrence exception. It is really annoying because Launc is hang and interrupted and then we can not use Analysis feature :(

[2017-10-26 16:57] #4 closed

[2017-11-10 13:00] avarabyeu commented on #24
@krasoffski can we close it?

[2017-11-10 13:28] krasoffski commented on #24
I think, the issue is still valid and root cause is plug-in architecture (if there is no significant changes in the code past few months).
But as an option we can close and wait till first user comments here :-)

[2017-11-10 13:33] avarabyeu commented on #24
so maybe we can just fix it?) does it require significant changes?

[2017-12-04 12:26] akhmialevskiy opened #37 "AttributeError: 'MarkMapping' object has no attribute '_mymarks'"
For both Python2 and Python3 for Windows 10.

pytest_reportportal-1.0.1

Example from docs from github.

[code]

pytest.ini
[code]

Result

[code]

[2017-12-04 12:46] krasoffski commented on #37
Hi @akhmialevskiy ,

Thank you for issue!

After first look it seems like the root case of changed API of `MarkMapping(object)` class [_pytest/mark.py](https://github.com/pytest-dev/pytest/blob/master/_pytest/mark.py#L200)

Earlier it looked like:

[code]

The issue is accessing __private__ attribute `self._mymarks` which has been renamed.

I will try to fix this today a little bit later.

[2017-12-04 15:44] lebovski commented on #37
This problem associated with new version of pytest, you can use pytest <3.3

[2017-12-04 15:50] lebovski commented on #37
@krassofski if you want to fix it, please validate pytest version and with depends of version try to get markers

[2017-12-04 15:51] krasoffski commented on #37
@lebovski yes, It obvious.  We can support both version (old and new) but with ugly workaround. I am looking for better solution if it is.

[2017-12-04 18:07] lebovski commented on #37
@krasoffski thanks, if you need, i can help you)

[2017-12-04 18:13] krasoffski commented on #37
@lebovski
Please take a look at #38 if have a time. I'm not sure you are able to comment, but anyway, let's try.

[2017-12-04 21:31] ailjushkin commented on #37
Do we need to maintain both versions?
Someday you will have to upgrade packages. I think if the problem constraints on 3.3 pytest so add new version in requirements.txt so we can say that only latest version supported.

[2017-12-05 06:34] lebovski commented on #37
Yes we need, for example, i use allure, and they support not latest version, similar problem can appear with  other plugins.

[2017-12-05 07:20] ailjushkin opened #40 "Create quality gate for repository"
**Goal:**

Automatic checks for new pull requests.

**Tasks:**

- [ ] Add tests folder with several unit tests with mock class
- [ ] Add test runner script which prepares environment and runs all tests
- [ ] Update travis.yml

**Tests:**

- Create launch test: check whether new launch created or not
- Log Test test: check whether current test is logged in report portal
- Log message test: check wh

[2017-12-05 07:50] krasoffski commented on #37
Generally, I came up with one more solution for this issue. I will create one more PR after testing.

[2017-12-05 08:07] s0undt3ch commented on #31
You have access to the pytest CLI arguments and options, perhaps look if  collect only option was passed and if not, then create a launch.

[2017-12-05 08:10] s0undt3ch commented on #29
There are other plugins which check if they are being executed in a xdist worker and if they are they don't run, this keeps plugin execution on the master side.

[2017-12-05 08:11] krasoffski commented on #31
@s0undt3ch, thank you for idea! We try to do this.

[2017-12-05 08:26] krasoffski commented on #37
Final solution is added. How has a time please take a look or test with Py2/Py3.

[2017-12-05 08:53] s0undt3ch commented on #31
If I be a few minutes today I'll get you a PR.

[2017-12-05 14:08] #31 closed

[2017-12-05 19:43] s0undt3ch commented on #29
However the slaves will still need an RP instance for the actual reporting(of logs for example).

[2017-12-05 20:56] s0undt3ch opened #44 "Test Errors not being reported"
Test errors are apparently not being reported.
Latest stable release of the client and the master branch tip for the pytest plugin.

Found out about this while running into a too many open files issue.

I'll post more info when I'm at my laptop.

[2017-12-05 21:02] ailjushkin commented on #40
@avarabyeu Could you please review description and add your thoughts on this topic?

[2017-12-06 12:58] akhmialevskiy commented on #37
It looks like fixed. Thanks

[2017-12-06 12:58] #37 closed

[2017-12-06 13:12] ailjushkin commented on #44
Hi thanks, please attach additional info about

- version
- use case
- actual error stacktrase
- environment

 etc. what you will need to explain more precisely, thanks

[2017-12-06 13:15] ailjushkin commented on #29
@krasoffski can we close this?

[2017-12-06 13:54] krasoffski commented on #29
@ailjushkin
To be honest, I would like to keep this issue open for now. I still have a hope to come up with solution. :-)

[2017-12-06 17:02] ailjushkin commented on #29
No problem, thank you

[2017-12-07 10:31] krasoffski commented on #40
Hi @ailjushkin,

#### Here is my thoughts.
Having real RP portal is big problem due to big resource consumption and services start up.
I would recommend to create `TestService` or `TestClient` Python class which do not send real request to Report Portal but collects calls which can be then checked (simple mock class).
It is easy to implement and integrate to testing. Also, there are some cons rela

[2017-12-07 15:34] ailjushkin commented on #40
@krasoffski Thanks, I've edited issue description

[2017-12-09 13:12] krasoffski opened #45 "Unable to run example test using Python 2.7.12"
### Steps for reproduce:
 1. Following steps from README.rst install `pip install pytest_reportportal`.
 2. Than create `sample_test.py` from readme file and `pytest.ini` configuration file.
 3. Run test with command `pytest sample_test.py`.

There are no any issues with `Python3`. But with `Python2` you might get following issue:
[code]

The root cause is obvious - different semantics of internal

[2017-12-13 19:47] #44 closed

[2017-12-21 13:02] flyAwayGG opened #47 "Separate all test by modules in report portal"
**Enhancement**
Now result of each test in suite is writed directly to one launch in report portal (All > Pytest Launch > All tests). It would be good to add some separation by modules and fixtures. Like this: All > Pytest Launch > tests/path.py > test_name (and think about > fixtures of test and test)

[2018-01-15 14:11] evjlobanova commented on #47
@flyAwayGG hi!
The launch structure is Launch> Suite> Test> Step.
Could you please give more details about this issue?

[2018-01-29 09:24] yehonadav commented on #45
you can replace RPLogger with this code to run in python 2 for the time being

import sys
import logging

from pytest_reportportal.service import PyTestService

class RPLogger(logging.getLoggerClass()):
    def __init__(self, name, level=0):
        super(RPLogger, self).__init__(name, level=level)

    def _log(self, level, msg, args,
             exc_info=None, extra=None, stack_info=False, atta

[2018-02-22 09:19] krasoffski commented on #45
Need new release for this. Closed!

[2018-02-22 09:19] #45 closed

[2018-03-01 06:37] schandrakandi commented on #26
i am facing the same issue with robot framework. Is there any fix for this.

01-Mar-2018 04:45:48 | [u'--test', u'TestWan', u'--outputdir', '/root/bamboo-agent-home/xml-data/build-dir/AUTNG-AUT-JOB1', '--variable', 'AUTONG_HOME:/root/bamboo-agent-home/xml-data/build-dir/AUTNG-AUT-JOB1', '--listener=reportportal_listener', '--variable', 'RP_UUID:99c37ef8-16e6-4c9b-902c-0dda30363a5f', '--variable',

[2018-03-14 13:54] DzmitryHumianiuk commented on #24
@krasoffski what is the result for this issue?

[2018-03-14 13:56] krasoffski commented on #24
Need to check, but I think this issue is still valid.

[2018-03-14 13:56] DzmitryHumianiuk commented on #29
@Sikamaru @krasoffski @ailjushkin @s0undt3ch still quite?

[2018-03-14 14:17] krasoffski commented on #29
We added workaround for this issue. Technically this issue can be closed as `WillNotFix`. On the other side, to fix it appropriately will require __significant__ amount of time.

[2018-03-14 16:56] ailjushkin commented on #29
@krasoffski

Can you please close this issue as we have workaround and create new one
with a clarified description of what to do step by step?

ср, 14 мар. 2018 г., 17:17 Yury Krasouski <notifications@github.com>:

--

С уважением,
Илюшкин Александр.

[2018-03-14 17:04] krasoffski commented on #29
Closed as __`WillNotFix`__ for current implementation.

[2018-03-14 17:04] #29 closed

[2018-03-20 14:16] tareqalayan opened #54 "service stopped when running second time and also AttributeError: 'NoneType' object has no attribute 'post_log'"
[code]

[2018-03-20 14:41] krasoffski commented on #54
It would be great if you provide steps/tests for reproducing.

Also the root cause might be related to #24 like missing sync primitives between threads.

[2018-03-20 14:52] tareqalayan commented on #54
Yes it is the same as issue mentioned ...

I am just running a simple one test.
and my pytest.cfg contains the correct uuid as stated in reportportal profile.

[2018-03-20 14:59] krasoffski commented on #54
The mentioned issue #24 just contains a simple case for reproducing. The are a lot of possible cases when this issue might appear.

[2018-04-04 12:02] vaibhavrastogi1988 opened #57 "AttributeError: 'Config' object has no attribute 'py_test_service' coming while deactivate pytest_reportportal plugin"
I am getting following error when i would like to temporary disable integrations with Report Portal just deactivate pytest_reportportal plugin with command: `py.test -p no:pytest_reportportal ./tests`

I am currently running this with Python 3.6 and the latest pytest.
[code]
[code]
[code]

[2018-04-27 08:34] hemantsk commented on #57
You can do this if you don't want to report with `-p no:pytest_reportportal` and use StreamHandler for printing in console stdout with -s option.
[code]
Attribute Error can be avoided and cases with -p or without -p can be handled.

[2018-05-15 08:20] iShimon opened #58 "Is it possible to make report portal ignore skip tests ?"
when building my run i mark some test to be skipped but all the skipped test are going into report portal ... it will be very useful to tell the agent not to pass skipped tests

[2018-05-15 19:37] #24 closed

[2018-05-16 18:48] DzmitryHumianiuk commented on #58
@iShimon you mean, no to send skipped items into ReportPortal?

[2018-05-17 07:44] iShimon commented on #58
@DzmitryHumianiuk Yes , i'm trying to make my skipped tests not to appear on the portal with no success

[2018-05-17 13:12] DzmitryHumianiuk commented on #58
@iShimon this can be done on side of your code.
just update the method, which sends events `onSkipped` status

i'm not a python dev, but i guess it's somewhere here:
https://github.com/reportportal/agent-python-pytest/blob/master/pytest_reportportal/listener.py#L37

you can also join you slack, find python channel and ask guys who use this integration

[2018-05-17 19:36] KyleMagocs opened #59 "Specifying launch tags from command line?"
Is there any reason the plugin doesn't support this?  I can draw up a pull request real quick but I figured if it wasn't already an option, there must be a reason for it, right?

[2018-05-18 06:44] krasoffski commented on #59
Hi,
It seem like no one thinks about this. You are welcome to create PR.

[2018-05-31 20:34] s0undt3ch commented on #47
I've been working on this but the way reportportal_client is coded, ie, its stack, its proving hard to achieve this.
Its not impossible but we need to keep a separate stack and the way pytest allows you to have multiple class nesting for test "suites" makes it even harder...

[2018-05-31 20:35] s0undt3ch commented on #47
I honestly have no clue how to report fixtures, what's the mapping for that on the report portal API side?

[2018-06-01 10:07] krasoffski commented on #47
Keeping internal stack is not only python client. Most of other clients use the similar approach (it is some kind of report portal requirements).

[2018-06-01 11:51] s0undt3ch commented on #47
https://github.com/reportportal/agent-python-pytest/pull/62

[2018-06-08 07:13] ravirajdj opened #63 ""requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url:"
Tests were running for few hours, and without any disturbances we can see suddenly testsuite was not reaching report portal.

below is the error screenshots.

'''
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/reportportal_client/service_async.py", line 204, in process_item
    getattr(self.rp_client, method)(**kwargs)
  File "/usr/local/lib/python3.6/site-packag

[2018-06-11 06:43] #47 closed

[2018-06-14 12:46] kleptog commented on #58
This is how we fixed it in our code. Just place this in a conftest.py somewhere where pytest will find it. Hope this helps.

[code]

[2018-06-14 14:46] DzmitryHumianiuk commented on #58
@iShimon let us know, does it work for you

[2018-06-17 11:44] liiight opened #64 "Enable implicit plugin usage by using a `--reportportal` flag"
Instead of activation the plugin by default and using pytest's disable plugin ability to shut it down, it would be nicer to enable it explicitly by sending a `--reportportal` flag:
`pytest tests --reportportal`
Which can also be used in the pytets.ini files:
[code]
If i'll have the time I'll try to push a PR with this change myself

[2018-06-18 12:10] alekseystu opened #65 "Logs are doubled exponentially after runnig more than one test"
I run tests with logging, and after that log message in Report Portal is duplicated
In PyCharm console everything is OK

First test 1 log in code = 1 log message
Second test 1 log in code = 2 log message
Third test 1 log in code = 3 log message

conftest.py
[code]

test_web.py
[code]

Console Log
[code]

Log Messgae on Report Portal
![chrome_2018-06-18_15-10-08](https://user-images.githubuserconte

[2018-06-18 13:35] kleptog opened #66 "Recent changes to nest test items breaks on non-Function tests: "Test item 'None' not found""
I noticed that the recent change broke on all my PyFlakes tests. Looks like the code assume all tests are subclasses of Function, which they aren't.

The symptom is the message:
[code]

Will post PR

[2018-06-18 13:49] #66 closed

[2018-06-21 07:32] kleptog commented on #58
Just to let you know, I found a corner case where this doesn't work. Namely, if you want to skip an entire class, like so:

[code]

Fortunately this doesn't happen often (for obvious reasons).

[2018-06-21 07:51] trinhpham opened #68 "Pytest reports 'Service already stopped' and causes incomplete launch be uploaded"
Hello,

I've tried to configured this project 'https://github.com/savoirfairelinux/num2words.git'.
The issue I got after running command 'pytest' is:
[code]

My environment:
- Python 2.7.13 (Windows 10 x64)
- pytest (3.6.2)
- pytest-reportportal (1.0.3)
- reportportal-client (3.1.0)

Screenshots:
![image](https://user-images.githubusercontent.com/9128061/41705131-51c5a09a-7562-11e8-9250-6ce0887869

[2018-06-21 08:18] evjlobanova commented on #68
@trinhpham hello, unfortunately now we do not have any python specialist in a team. So feel free to send a pull request, or you can post this issue in our slack chat https://reportportal.slack.com/messages/C9PMAA690, maybe someone from community can help you

[2018-06-21 15:41] evjlobanova commented on #64
@liiight  hello, unfortunately now we do not have any python specialist in a team. So feel free to send a pull request, or you can post this issue in our slack chat https://reportportal.slack.com/messages/C9PMAA690, maybe someone from community can help you

[2018-06-21 15:42] evjlobanova commented on #63
@ravirajdj hello, unfortunately now we do not have any python specialist in a team. So feel free to send a pull request, or you can post this issue in our slack chat https://reportportal.slack.com/messages/C9PMAA690, maybe someone from community can help you

[2018-06-21 15:43] evjlobanova commented on #65
@alekseystu hello, unfortunately now we do not have any python specialist in a team. So feel free to send a pull request, or you can post this issue in our slack chat https://reportportal.slack.com/messages/C9PMAA690, maybe someone from community can help you

[2018-06-25 08:34] iShimon commented on #58
I actually didn't choose this way , I change the listener because I did a custom conftest.py file this solution doesn't now work for me , but it look like a very "clean" way to do it

[2018-06-26 10:33] DzmitryHumianiuk commented on #58
@iShimon with 5.0 we plan to introduce configurable configuration.

[2018-07-06 13:44] CorineDMK commented on #63
I have the same problem.

[2018-07-11 22:01] Preyansh91 opened #69 "Attachment files just showing up as txt and does not show the name of the file attached"
When we attach a file to report portal logs, it only show up as TXT and does not show file name give. It creates a lot of problem when attaching multiple files.

rp_logger.info(
        "Oprofile report",
        attachment={
            "name": "opreport",
            "data": r.content,
            "mime": "application/octet-stream",
        },
    )

[2018-07-12 15:20] krasoffski commented on #69
As I remember this behavior is not specific for python library but Report Portal itself.

[2018-07-13 13:02] evjlobanova commented on #69
@Preyansh91  hi! we have the same issue in #338 . We plan its implementation after version 5

[2018-07-13 13:03] evjlobanova commented on #69
close as duplicate

[2018-07-13 13:03] #69 closed

[2018-07-17 15:37] DzmitryHumianiuk commented on #26
@schandrakandi try to find community members help for this issue in our slack
https://reportportal-slack-auto.herokuapp.com/

channel `#agent_python`

[2018-07-18 13:54] DzmitryHumianiuk commented on #27
@DKorytkin closing because of missing details.
plz open new issue, if this still actual for you

[2018-07-18 13:54] #27 closed

[2018-07-18 13:57] DzmitryHumianiuk commented on #54
close as duplicate in hail of #24

[2018-07-18 13:57] #54 closed

[2018-07-18 13:59] DzmitryHumianiuk commented on #40
@ailjushkin we gonna set up demo instance pretty soon.
so demo api can be used as endpoint for tests

[2018-07-23 22:37] Preyansh91 opened #70 "attachments do not get created from 2nd and subsequent tests"
I am trying to use the attachment feature to attach a few log files. When I start my test run, I see attachment getting created in the first test. However, from second test onwards I see an error:
**_log() got an unexpected keyword argument 'attachment'**

Following is the code snippet I am trying:
[code]

[2018-07-27 08:46] kleptog commented on #58
FWIW, my above solution breaks things inside pytest. By raising a skip not all of the setup of a test is executed, yet by marking it "passed" it tries to actually run the test, which leads to strange errors. Ultimately I think patching the agent is the best way to go.

[2018-07-30 08:57] iShimon commented on #58
yes exactly what i did , i would upload the patch buy i think best thing is to wait for the configurable configuration version. since patching will need to re-register the pytest plugin

[2018-07-31 20:27] DzmitryHumianiuk commented on #70
@freesbe @krasoffski @aliaksandr-trush who can help here?

[2018-08-01 22:05] bigbZik commented on #70
I have some workaround for this issue.

Add this lines
[code]

in **rp_logging.py**  function **patching_logger_class()**
instead of :
[code]

[2018-08-06 08:39] DzmitryHumianiuk commented on #70
@bigbZik could you plz send a Pull Request for it?

[2018-08-06 09:04] ringods opened #73 "Nested hierarchy test items is hardcoded to standard pytest python/unittest"
For a customer, I wrote 2 custom pytest plugins. Each of these plugins contain custom Python subclasses of `pytest.File`, `pytest.Collector` and `pytest.Item` to create a nested tree of test suites and tests.

When using `pytest-reportportal`, this nested structure is flattened in ReportPortal. When looking at the code, I see explicit references to `pytest.Class`, `pytest.Function` and alike in th

[2018-08-06 09:12] ringods opened #74 "pytest-reportportal hangs approx 1 out of 3 launches"
I am experiencing flakey behaviour with `pytest-reportportal`. This `pytest` plugin is active when running tests in Jenkins. The test results are then pushed to ReportPortal. Both systems run in the same set of machines on the company AWS account.

The unit test suite for one of our projects contains 2540 tests at the time of writing. Since we also have a precommit trigger on this project, I know

[2018-08-07 21:10] NikitaFedoraev commented on #63
Hi,

I had the same problem and in my case, it was due to the changed authorization token.
Seems that creating a new Project in Reporting Portal changes authorization tokens.

Try to change rp_uuid in your pytest.ini
 rp_uuid = f8172779-93e0-4353-0000-0000000bb67

[2018-08-08 06:01] ailjushkin commented on #74
It is more likely the Report Portal problem I had previously faced - sometimes it's API microservice fails to process a request and answers with 404 not found error code. You should monitor a docker log for HTTP error codes to catch that moment. Since some of test items did not finish properly, the launch itself cannot be closed as it still has in progress status.

As a workaround, I can only sugg

[2018-08-08 07:42] ringods commented on #74
@ailjushkin I scanned the docker logs of last Monday (6 Aug) where multiple of these hangs occurred. The logs don't show any HTTP errors. Only logs from triggers to clean screenshots and alike.

I'm also pushing test results from another project with a custom written Javascript agent and that behaves perfectly. Given it is only the Python agent which gives me problems, I doubt it is RP. Could you

[2018-08-08 09:11] krasoffski commented on #74
I would add enough debug logging and only than tried to reproduce issue again (I am not sure about logging coverage now).

[2018-08-09 11:31] DzmitryHumianiuk commented on #64
@reportportal/python-contributors what do you think?

[2018-08-09 11:43] DzmitryHumianiuk commented on #64
@krasoffski @s0undt3ch
@ramriddick @frizzby @vakulich @KKoukiou
@sivashh @kleptog
@aliaksandr-trush
what do you think?

[2018-08-09 11:53] aliaksandr-trush commented on #64
I vote to not implement this behavior.
1. I do not see benefits.
2. I think we need to have as less actions as possible for client activation.

[2018-08-09 11:57] KKoukiou commented on #64
@liiight I don't see any reason for this change, can you please elaborate why you find it better?

Also ``` pytest --trace-config``` for searching active plugins will give invalid results if we make this change, no?

[2018-08-09 11:57] liiight commented on #64
The benefit is that after installing the plugin it is invoked by default on every run, crashing if config isn't correct.

Explicit is better than implicit...

[2018-08-09 12:18] s0undt3ch commented on #64
I'm not opposed to this change in behavior. Usually we want to *enable* report portal on some circumstances, CI, not all.

[2018-08-09 12:34] abotalov commented on #64
I think it would be better to solve such issues in general way on Pytest side.

Recently ability to disable plugin autoloading was added to Pytest - https://github.com/pytest-dev/pytest/pull/3787. Then you probably should be able to explicitly load them using `pytest_plugins` variable or `PYTEST_PLUGINS` env variable.

[2018-08-09 13:44] DzmitryHumianiuk commented on #64
@sivashh

this is how we make it for Java client.
initially agent search for System level variables, then override it by `reportportal.property` file variables, and then override it with command line variables.

this helps to manage execution combinations in CI, by enabling/disabling adapter, send it to debug, or change launch name, or tags, based on enviroment

[2018-08-10 11:01] kleptog commented on #64
The way I fixed this in our CI tests is using the feature merged in master where reportalplugin only works if the configuration is complete. In my case I comment out the rp_endpoint configuration in the checked in code and the use the pytest "-o" option to activate reportalporal only for the CI.

This patch would remove the need for that hack, but I guess opinions will differ as to whether it's a

[2018-08-15 13:45] #58 closed

[2018-08-15 14:30] DzmitryHumianiuk commented on #57
@vaibhavrastogi1988 resolved?
can be closed?

[2018-08-15 15:15] aliaksandr-trush commented on #64
@liiight I see benefits now.
I've created PR. Please review it and approve that it is what you mean.

[2018-08-16 08:27] aliaksandr-trush opened #76 "pytest.mark.skipif fixture should be handled properly"
If we have test marked with pytest.mark.skipif we can mark tests as No Defect and add defect comment from "reason" parameter.

[2018-08-16 09:01] DzmitryHumianiuk commented on #64
@liiight @aliaksandr-trush accepted. merged

[2018-08-16 09:01] #64 closed

[2018-08-16 12:51] aliaksandr-trush commented on #73
Probably it should be fixed by https://github.com/reportportal/agent-python-pytest/pull/62
Need to release new agent version and verify

[2018-08-17 06:00] bigbZik commented on #65
Removing `logger.addHandler(rp_handler)` from fixture should solve your issue.
Also use scope `session` for fixture

[2018-08-21 08:00] ringods commented on #74
@ailjushkin @krasoffski I was able to reproduce locally. Here is the client side log from the pytest agent when pressing Ctrl-C while it hangs:

[code]

Does this help debugging?

[2018-08-22 08:03] ringods opened #79 "Uploading of test results should be done after the test run"
So far, I have not been able to use `pytest-reportportal` agent successfully. After thorough investigation, I noticed that our testsuite uses `patch` in a few cases for `builtin.open` and `requests` library. When this is done, it has an impact on the workings of the async RP service object which pushes results to the server.

To work around this, pushing the results should only be done after the t

[2018-08-22 09:51] kleptog commented on #57
I think this should be added to the example in the README.

[2018-08-23 21:51] osherdp commented on #79
@ringods, can you provide a sample code that reproduces this problem? I think I got it, but I just want to make sure We're solving the right problem.

The feature of "offline update" is probably needed regardless, for example when running tests in parallel. So I'm currently looking into it.

[2018-08-23 21:53] DzmitryHumianiuk commented on #76
@aliaksandr-trush is it proposal?
Question or statement?

[2018-08-24 07:30] aliaksandr-trush commented on #76
@DzmitryHumianiuk proposal

[2018-08-24 16:32] DzmitryHumianiuk commented on #57
@kleptog can you plz send pull request with it?

[2018-08-24 16:33] DzmitryHumianiuk commented on #57
@hemantsk pull request into readme.md?

[2018-08-30 09:54] rplevka commented on #59
do this using native pytest `-o` argument:
[code]

so you'll get something like:
[code]

[2018-08-30 09:59] rplevka opened #80 "Unable to run py.test without having pytest_reportportal configured once installed"
what i'm looking for here is to make the `report_portal logger` optional - however, once the plugin gets installed, one is unable to run `py.test` without having configured `pytest.ini` (or options passed by `-o rp_*=value`).
The pytests fails with:

[code]

- I'm not initializing the logger anywhere in my code, it's just the presence of the plugin.
- I would expect the plugin skips configuring if

[2018-08-30 13:26] rplevka commented on #80
I also tried to workaround this by implementing my own hook function in the `conftest.py`:

[code]
however the `session_starts`  hook still does the setup.

[2018-08-30 13:51] rplevka commented on #80
ok, i tihnk this got already addressed by:
https://github.com/reportportal/agent-python-pytest/pull/60

..looks like it is just not included in the `1.0.3` release

[2018-09-05 14:16] rplevka opened #83 "rp_ignore_errors doesn't apply on session start"
if there is some issue with the report portal from the very beginning (not reachable, access denied, etc.),
the `rp_ignore_errors` does not stop the py.test from crashing miserably.

the `plugin.py` hook: `pytest_sessionstart(session)`  initializes the service (`session.config.py_test_service.init_service()`)

and calls its `start_launch()` straight away. - one could possibly catch the `HTTP` erro

[2018-09-05 14:53] DzmitryHumianiuk commented on #83
@rplevka

you mean server here?

[2018-09-05 18:34] rplevka commented on #83
@DzmitryHumianiuk - yes.
I mean `rp_endpoint` - I'd like to make the use of the rp_logger not critical to the py.test run

[2018-09-10 18:26] #80 closed

[2018-09-11 12:34] rplevka opened #87 "[regression] pytest now crashes if pytest-xdist is used"
this got introduced by
https://github.com/reportportal/agent-python-pytest/commit/d625655003a9f09b0a3b5e72120673de352e6fd9

[code]

[code]

[2018-09-11 12:51] DzmitryHumianiuk commented on #87
@rplevka plz send a pull request with a fix

[2018-09-11 14:48] rplevka commented on #87
@bigbZik - hey, any idea how could we fix this properly?
the thing is [this](https://github.com/reportportal/agent-python-pytest/blob/master/pytest_reportportal/plugin.py#L95) will skip the collection part for the non-master instances (slaves) and thus the `_start_stack` stays unpopulated for the slave workers.

[2018-09-11 16:03] DzmitryHumianiuk commented on #87
@reportportal/python-contributors

[2018-09-12 05:58] bigbZik commented on #87
Originally issue was added with more earlier [change](https://github.com/reportportal/agent-python-pytest/commit/0122f1967b641d65d842b5aa00a2f09b6048dbcd). @s0undt3ch
I guess hierarchy should be disabled in distributed mode. I'm working on fix.

[2018-09-12 08:18] s0undt3ch commented on #87
What reports back to RP when using xdist, the slaves? The master node?
We shouldn't prevent xdist usage but how badly would it be to allow collection to happen on the slave side. Would the order be the same?
Could we just allow collection to happen if it's a xdist node?

Maybe it's a safe bet to just don't allow hierarchical reporting when xdist is involved or if proves to be too much effort.

I r

[2018-09-12 11:43] DzmitryHumianiuk commented on #59
@KyleMagocs does comment about resolves your issue?

[2018-09-12 11:43] DzmitryHumianiuk commented on #59
@rplevka could you plz send it as PR into readme file for agent?

[2018-09-12 12:07] rplevka commented on #87
@s0undt3ch
You have the same chain of thoughts as I had. I tried to simply remove the "is_master" conditional around test collection to see how it goes - it worked, but it created some duplicates around classes. What's more there were some nesting issues - the hierarchy became something like:`launch->module->[class1]->[test1, test2 -> class1 -> test3]`.
I found that weird and backed out from doing

[2018-09-13 17:48] shrinivasbb opened #89 "py.test --reportportal ./tests/test_flight.py fails, So does pytest --tests-per-worker 2 --reportportal"
Below are the failure logs, Creates a launch in the report portal but tests are not executed and launch does not end:

C:\Users\sb\PycharmProjects\pyTest1>py.test --reportportal ./tests/test_flight.py
============================= test session starts =============================
platform win32 -- Python 3.7.0, pytest-3.8.0, py-1.6.0, pluggy-0.7.1
rootdir: C:\Users\sb\PycharmProjects\pyTest1, inif

[2018-09-13 18:32] bigbZik commented on #89
See #87

[2018-09-14 04:45] shrinivasbb commented on #89
Using pytest-parallel not pytest-xdist.

[2018-09-14 07:04] bigbZik commented on #89
Did it work before with RP on your setup?

[2018-09-14 07:48] krasoffski commented on #89
Existing fix for `xdist` uses internal implementation of master slave of `xdist`. It seems for me that it did not work with `pytest-parallel` before but not sure. Need to dive into `pytest-parallel` internals for more details.

[2018-09-14 08:43] shrinivasbb commented on #89
Well, I am using pytest to run selenium tests. Since pytest-parallel is thread-safe it is recommended for selenium tests and pytest-xdist is not thread safe.

@bigbZik it never worked with pytest-parallel. But my RP setup is flawless, able to update test runs using TestNG java

[2018-09-18 11:31] rplevka commented on #83
I think this got pretty much solved by bringing in the explicit plugin calling using `--reportportal` option.
this pretty much makes user to explicitly say: "i want to use the report portal" and if something is not right with the connection etc., it is just okay to fail.

[2018-09-18 11:31] #83 closed

[2018-09-19 21:05] JMoravec opened #91 "SSL Errors are hidden"
While working on https://github.com/reportportal/agent-python-pytest/pull/90 it took me awhile to figure out the underlying error (SSL not being verified by requests) as all I saw in the logs was 'Launch not found').

It would be useful if client-Python errors were exposed somehow to the user/pytest.

[2018-10-16 09:34] vkolgi commented on #59
#93 I have raised the PR updating the README.

[2018-10-16 14:51] vkolgi commented on #76
I will detail this issue since there is not much discussion here. pytest's skipif mark skips if the certain condition is true and prints out the "reason" that is specified. So the OP wants to set the defect label to be set from reason attribute. While this is something we have done internally for ourselves, for the plugin it comes down to what other client libraries(for java, js) are doing. If thi

[2018-10-16 15:48] DzmitryHumianiuk commented on #76
@vkolgi it would be nice, if you can send us PR with this change. And i would agree, that it should be a part of configuration

[2018-10-17 16:53] DzmitryHumianiuk commented on #91
@JMoravec would you mind to send us small PR for this?

cc @reportportal/python-contributors

[2018-10-19 14:02] rplevka commented on #59
@DzmitryHumianiuk I believe you can close this now

[2018-10-19 14:07] #59 closed

[2018-10-30 09:40] rplevka commented on #74
I experience this as well in our production environment and I figured out that there is a deadlock happening on the client side which prevents the py.test run to finish (thus jenkins job never finishes).

If one uses `rp_ignore_errors = True` then if a connection is somehow lost during the `py.test` execution, it continues just fine up until the point it tries to stop the launch.
this obviously sp

[2018-10-30 13:54] krasoffski commented on #74
There is huge traceback which is enough to debug issue. Thank you @ringods.
Unfortunately I short of free time last mounts to keep my eyes on what is going on with python agents. :-(

[2018-11-06 17:24] wharris1984 opened #95 "rp_logger fixture from readme raises AttributeError"
My pytest.ini file is configured with the following:
[code]
My test is:
[code]
Conftest:
[code]
And error raised is:
[code]
Seems a little related to issue https://github.com/reportportal/agent-python-pytest/issues/57.  I tried the If block mentioned in the comments but nothing is logged in reportportal.  Not sure what else to try from here.

[2018-11-15 18:57] DzmitryHumianiuk commented on #95
@rplevka any thoughts?

[2018-11-15 23:39] bigbZik commented on #87
@rplevka Did you try on newest build? Do you see error?

[2018-11-16 12:07] h3rold opened #97 "[SSL: CERTIFICATE_VERIFY_FAILED] with flag "rp_verify_ssl = False""
introduced by cb3e4478f6f0d5604bd14f59c3c15e97076572c7
STR.
1) use RP server with ssl support
2) use agent-python-pytest without valid cert and with flag rp_verify_ssl = False
3) launch tests
ER.
3) Launch started no failures related to ssl verification
AR.
3) (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:847)')
code which causing error and ign

[2018-11-17 15:24] KaterynaStreltsovaDevPro opened #98 "Unable to see any launch results for the project"
I have followed the instructions to configure the test framework, but still unable to see any launch results in the portal. Attempted to use IP and domain name, put ini file in different places, with no luck.

The instance with portal is pingable and POST/GET  requests are successful from the terminal. Screenshot with the automation project structure has been attached.
Please suggest how to solve

[2018-11-19 15:13] rplevka commented on #98
@KaterynaStreltsovaDevPro, are  you sure you execute py.test command with `--report-portal` argument? If you don't specify it, the `pytest_reportportal` plugin won't be used.

[2018-11-19 15:59] KaterynaStreltsovaDevPro commented on #98
@rplevka I used --reportportal as it's mentioned in official documentation for Python Pytest.
Should I use --report-portal instead?

[2018-11-19 20:14] rplevka commented on #98
@KaterynaStreltsovaDevPro sorry, no. your version was correct. I just had that from a top of my head.
Well. perhaps if you can paste some logs from a simple py.test session, it might show us some clues.

All I can advise now is to make sure that the API token you use is indeed valid and belongs to a user who really is assigned to the project and has the proper permissions (anyway, it should fail i

[2018-11-19 21:50] rplevka commented on #95
@wharris1984 @DzmitryHumianiuk - I literally copy&pasted your code to a new dir and tried to run it (with my own report portal urls, api endpoint, etc. and I also simplified the test to do a simple `assert(False)`) and it went smooth.

The only way I could reproduce the error you're having was by moving (or renaming) the `pytest.ini` file away from the test root dir. So my assumption would be that

[2018-11-19 22:29] rplevka commented on #97
works for me, however, I install the `agent-python-pytest` from `master` branch. The verify_ssl flags got introduced by @JMoravec after the recent release, so I guess they are still not in.

The other part of the change got merged&released in `reportportal_client` repo. so I guess we have a inconsistency here.
@DzmitryHumianiuk any chance of making a new release any time soon?

[2018-11-20 16:38] h3rold commented on #97
@rplevka sorry, I didn't mentioned that i used last masters for agent-python-pytest and reportportal_client.
Bug still there. It is in service.py in  client-Python project - line 230:
`r = self.session.get(url=url, json={})`
doesn't contains `verify=self.verify_ssl`

[2018-11-21 11:13] KaterynaStreltsovaDevPro commented on #98
@rplevka  I have removed ini file and tried to pass the parameters via command line.
This is how the tests started:
--tests=" -s -vv tests\api_tests\accounts\auth\my_test.py --alluredir allure_report --reportportal --rp.endpoint xxx.xxx.8.xxx:8080 --rp.uuid exxxx-84a0-46df-97e3-xx --rp.project smoke_wlapi
--rp_ignore_errors True"   --env=local --provider=ripple

Pytest arguments from above for pyt

[2018-11-21 11:31] KaterynaStreltsovaDevPro commented on #98
Well, I tried to plugin logger from the example and have error in lines      rp_handler = RPLogHandler(request.node.config.py_test_service)
E       AttributeError: 'Config' object has no attribute 'py_test_service'

[2018-11-21 12:23] rplevka commented on #97
@h3rold - you are correct. After I just hadn't pulled the recent commit, so everything worked.
Mind submitting a PR to fix this? also i see there were some typos (`project_settiings` sic.) introduced, but they are not an issue functional wise

[2018-11-21 12:26] gsr-shanks opened #99 "Support for rp_mode"
As per the documentation in http://reportportal.io/docs/How-to-avoid providing rp.mode=debug will avoid local execution reported in project space. However, when I use this option it doesn't work and the execution is reported in project space instead of 'Debug' section of project space.

[2018-11-21 12:29] rplevka commented on #98
uset underscores instead of dots in the param names: `--rp_project` instaedo fo `--rp.project`, etc.

[2018-11-21 14:38] DzmitryHumianiuk commented on #95
@wharris1984 ?

[2018-11-23 08:34] KaterynaStreltsovaDevPro commented on #98
With underscores still have unrecognized arguments error: --rp_endpoint, etc

[2018-11-26 15:43] wharris1984 commented on #95
By misplaced, do you mean the file is missing?  I've verified it's present.

[2018-11-27 00:07] rplevka commented on #98
Uh. Are yoy sure the pytest-reportportal is installed? Is your IDE using the right virtual environment? Can you see the rp_* otions in the `py.test --help`?

[2018-11-27 08:39] KaterynaStreltsovaDevPro commented on #98
I have created a simple project for test purposes, pytest-reporting portal 1.0.4 and reporting-client 3.2.0 are installed on virtual env. RP options are available in help, however it still says 'unrecognized arguments'. Please see the attachment
![portal_screen](https://user-images.githubusercontent.com/38039414/49068945-b8591d00-f230-11e8-9b62-1a48028eeb0b.png)

[2018-11-28 09:32] rplevka commented on #95
@wharris1984 - lol, sorry, now i realised your pytest.ini format is wrong.. you should use underscores instead of the dots in the rp param names,
`s/rp.project/rp_project/`, etc

[2018-11-28 15:29] #95 closed, assigned to nobody

[2018-11-30 12:58] KaterynaStreltsovaDevPro commented on #98
Hi guys, do you have an idea what is going wrong above?

[2018-11-30 23:10] rplevka commented on #87
@tayalakansh unfortunately, there was no release after a [workaround commit](https://github.com/reportportal/agent-python-pytest/commit/492cdf1962bc01f4a8e12313944e2f4fa6f8cde8) got merged, so if you want to get this in, you should install from git repo's master branch

[2018-12-01 13:55] DzmitryHumianiuk commented on #87
@reportportal/python-contributors folks,
what steps required to make it released?

[2018-12-03 09:33] rplevka commented on #87
@DzmitryHumianiuk not sure what your internal release guidelines are, but technically you navigate to the releases tab and hit "draft a new release"

[2018-12-03 10:54] DzmitryHumianiuk commented on #87
@rplevka not sure it automated )

@ch-t was it automated so far?

[2018-12-12 10:03] ringods commented on #89
I tested 1.0.4 of this pytest plugin, but also get the error `IndexError: pop from empty list` consistently. I do *not* have `pytest-parallel` or `pytest-xdist`. I do have a custom written plugin for my own test collection, but this follows the pytest callback very meticulously.

[2018-12-12 17:31] jcaplan opened #101 "RuntimeError: dictionary changed size during iteration"
[code]

[2018-12-23 11:16] Formartha opened #102 "Report Portal client fail to find that a test is running"
Hi,

RP client failed to find a test is running. however, with using -p no:pytest_reportportal, the tests works.
my test setup combined from an external parameters I'm pushing and conftest is parsing it.

Any idea what shall I do next?

--EDIT--
I see that the options loaded happnes after the plugin is loaded, that's why It's not getting to the point where it could parse the object I'm sending in

[2019-01-15 14:16] visko-tm opened #103 "AttributeError: 'Module' object has no attribute 'get_marker'"
System Version: macOS 10.14.2

test_calc.py:

[code]

pytest.ini:

[code]
Error:
[code]

The test run (launch) is added to RP, but there are no test cases or results added (total 0). It is supposed to be a very simple basic setup.
Could you please check?

[2019-02-19 15:16] eg4a commented on #103
+1
This happens to me too on Ubuntu 18.04.2 LTS and also on Windows 10.

Any test that I run with the switch '--reportportal' fails on the same issue when it transmits to the report portal end point.

_used packages version info:_

- reportportal-client version: 3.2.0
- pytest-reportportal version: 1.0.4
- pytest version: 4.2.0

_example pytest command :_
pytest -vss --reportportal

_local workaro

[2019-02-21 10:14] SazonovDO commented on #103
+1
I have this bug:

platform linux -- Python 3.6.7, pytest-4.3.0, py-1.5.2, pluggy-0.8.1
plugins: reportportal-1.0.4
collected 1 item
INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "/usr/local/lib/python3.6/dist-packages/_pytest/main.py", line 210, in wrap_session
INTERNALERROR>     session.exitstatus = doit(config, session) or 0
INTERNALERROR>   File "/usr/local/lib/pyth

[2019-02-22 10:51] akropyva-apixio commented on #103
Local fix helped thanks

[2019-02-24 12:41] eg4a commented on #103
@akropyva-apixio
Happy that the local fix helped :-)
Hopefully a newer version will be released soon.

[2019-02-26 10:56] akropyva-apixio commented on #103
It fixed this issue and issue with xdist
-e git+git@github.com:reportportal/client-Python.git#egg=reportportal_client
-e git+git@github.com:reportportal/agent-python-pytest.git#egg=pytest_reportportal

[2019-03-04 16:41] imankovskyi commented on #103
should be happening for pytest >= 4.1.0 users
pytest 4.1.0 (2019-01-05)
`#4546: Remove Node.get_marker(name) the return value was not usable for more than a existence check.`

[2019-03-25 21:40] rcatz opened #106 "Tests results are not present in "Launches""
When I run my tests with pytest.ini for demo server (http://web.demo.reportportal.io) everything work perfect. When I modified the pytest.ini to work with my server - nothing present in "Launches" page.
What could be the reason?

[2019-03-25 21:43] rcatz commented on #106
When I run my tests with pytest.ini for demo server (http://web.demo.reportportal.io) everything work perfect. When I modified the pytest.ini to work with my server - nothing present in "Launches" page.
What could be the reason?

[2019-03-26 13:52] trew100 opened #107 "upload image to report"
I try to upload image to report
so the example in the agent-python doc is about text file and it works well
[code]

but if you want to upload image there is a problem
in the `data` key do you can't pass the path to the file because the path pass as a string to report portal, if you change the `mime` to `image/png` do you get 5000 code error (the data will be upload but the report portal can't load

[2019-03-27 14:11] krasoffski commented on #107
Yes it is,
`[python-client](https://github.com/reportportal/client-Python/blob/64550693ec9c198b439f8f6e8b23413812d9adf1/reportportal_client/service.py#L259)` uses `request` library for working with RP and the same semantics to work with attachments.

There is two ways to pass data as attachment:

### Case 1 - pass file-like object
[code]

### Case 2 - pass file content itself (like you did)
[code]

[2019-04-02 15:29] DzmitryHumianiuk commented on #106
@reportportal/python-contributors ^

@rcatz could you plz share any log, you getting from you local execution?

[2019-04-02 15:38] #107 closed

[2019-04-03 15:01] JMoravec commented on #87
I'm not sure if anyone else has had this issue, but I kept seeing the following error when attempting to run with xdist parallel: `INTERNALERROR> AttributeError: 'NoneType' object has no attribute 'listener'`

I fixed this by changing the `pytest_configure_node` code in plugin.py to the following
[code]

I'm not sure if this is the correct fix or not (I'm not familiar with xdist or pytest plugins

[2019-04-03 15:03] JMoravec commented on #91
@DzmitryHumianiuk Sorry, I just noticed this, but I'm not really sure how this would be done, or what an end user might want to see

[2019-04-10 17:53] DzmitryHumianiuk commented on #103
@visko-tm @imankovskyi @akropyva-apixio @eg4a @SazonovDO can we closed it?
fixed?

[2019-04-10 21:58] ilyubin opened #108 "Failed run test with xdist"
*Problem*
Run pytest + xdist with reportportal failed

*How to reproduce?*

I have follow files:

`tests/test_report_portal.py`
[code]

`pytest.ini`

[code]

Run tests with xdist
[code]

*Actual result*

[code]

*Expected*

No errors

*PS*

If I run tests sequantely - no errors
[code]

[2019-04-11 08:22] eg4a commented on #103
Hi @DzmitryHumianiuk ,
The latest version I see for pytest-reportportal is still 1.0.4 , so this issue still reproduces.

Extracting from my initial comment here:

[2019-04-11 11:00] DzmitryHumianiuk commented on #103
@filland do we have release job for python agents?
Then should create it, if not.

[2019-04-11 11:15] filland commented on #103
@DzmitryHumianiuk i am working on it

[2019-04-13 18:27] jonozzz opened #109 "Deadlock when using asyncio"
I noticed this rare deadlock traced back to the reportportal plugin. This only occurs on python3 when using asyncio.

It seems that the `queue.Empty` exception is not caught right away and that causes more logs to be generated by the asyncio framework.

[code]

[2019-04-16 13:00] HSDeshpande commented on #70
I am on version 1.0.5 (pytest-reportportal==1.0.5), this version doesn't have the above fix. When can we expect the fix to be available

[2019-04-25 11:40] nagarjunakappurapu commented on #107
When execute more than two methods using pytest ,screenshot are sending to only for the first method .

For second method only log message is sending  without screenshot

[2019-04-25 11:40] nagarjunakappurapu commented on #107
Can anyone help me about how to resolve the issue

[2019-04-30 15:11] trew100 commented on #103
@filland There is already new version?

@imankovskyi how did you resolve this issue with xdist?

[2019-04-30 16:23] imankovskyi commented on #103
issue does not reproduce on 4.0, I used that one

[2019-05-05 09:26] trew100 commented on #103
This issue reproduce for me Pytest == 4.4.1

[code]

[2019-05-06 04:49] vkolgi commented on #103
@DzmitryHumianiuk we are still relying on the workaround, can we release the next version soon. If any help needed for the testing do let us know.

[2019-05-06 12:07] trew100 opened #111 "install the agent from git return unexpected keyword argument verify_ssl error"
step to reproduce
1. Install the agent from the current  git (1.0.4)
2. ran tests

[code]

[2019-05-06 17:08] trew100 opened #112 "ReportPortalServiceAsync class missing a few attributs - errors return"
### The first issue
In the service.py file class initial with `verify_ssl` argument
[code]
there is no `verify_ssl` parameter for ReportPortalServiceAsync class
as you can see
[code]

this problem create this error
[code]

### The second issue
the same place in service.py
after ReportPortalServiceAsync class initial the code try to call to `get_project_settings` function
it look like this
[code]
t

[2019-05-13 23:48] CoRfr commented on #111
It looks like it depends on some changes from https://github.com/reportportal/client-Python such as https://github.com/reportportal/client-Python/commit/d8773d22ce8ebda0ee8c2f0f854192a8a2710364

Problems is that this change is not in a version of client-Python just yet. The latest release (3.2.1) is just before the verify SSL change was introduced.

It looks like pytest-reportportal-1.0.5 was made

[2019-05-14 10:06] alderven commented on #111
Have same error.
Downgrade [pytest-reportportal](https://pypi.org/project/pytest-reportportal/) to 1.0.4 helped.

[2019-05-21 13:02] DzmitryHumianiuk commented on #103
@filland do you have access to release it?

[2019-06-02 14:52] david-fliguer-ws commented on #103
Hi,

I am just trying to get a basic installation of reportportal running and run a simple test that makes assert == True and see the result in the dashboard

when running I get the following error:

INTERNALERROR>   File "/home/david.fliguer/.local/lib/python3.7/site-packages/pytest_reportportal/service.py", line 416, in <listcomp>
INTERNALERROR>     tags = [k for k in item.keywords if item.get_m

[2019-06-03 04:59] vkolgi commented on #103
@david-fliguer-ws here is what I did as a workaround if you stick to 1.4.0 version. Patched get_marker function in Node object.

In your conftest.py define get_marker function and return get_closest_marker's result.
[code]
And at the end of the `pytest_configure` function, add this.

[code]

[2019-06-04 05:19] david-fliguer-ws commented on #103
Hi, where is that pytest_configure function ?

[2019-06-04 05:34] david-fliguer-ws commented on #103
I managed to at least be able to run the test and the test passes but then it just gets stucked

when I run the test with pytest the test passes but then it just gets stucked

I see in the output of the containers the following error:

analyzer_1 | [2019-06-04 05:28:56] ERROR Cannot send request to ES: Get http://elasticsearch:9200/_cluster/health: dial tcp: lookup elasticsearch on 127.0.0.11:53:

[2019-06-12 07:46] nagarjunakappurapu opened #117 "data"

[2019-06-21 09:06] #117 closed

[2019-06-21 09:06] nagarjunakappurapu commented on #117
junk dat

[2019-07-01 14:12] akropyva-apixio opened #120 "_get_item_name fail if test name is longer then 256 symb"
[code]
warn method takes 2 elements  but was passed 3. I got this error in combination with xdist and huge bdd outline param string. Also this test freezes parallel test run.

[2019-08-05 12:51] akropyva-apixio opened #128 "rp_ignore_errors doesn't ignore connection issues"
For example reporpotral server is down and we have rp_ignore_errors = True and rp_verify_ssl = False into pytest.ini.
We have an error like this:
[code]
init_service => get_project_settings => r = self.session.get(url=url, json={}, verify=self.verify_ssl) which causes an error past parameter rp_ignore_errors

[2019-08-13 08:24] pshv opened #125 "RP maintenance causes INTERNALERROR and no tests are run"
We've just faced the issue that in case if ReportPortal is on the maintenance mode, it breaks whole test run and tests didn't even start due to INTERNALERROR. Pytest ver - 5.0.1

[code]

[2019-08-29 06:57] krasoffski commented on #108
There was the similar issue with `xdist` #29 which had been fixed by adding flag for `xdist` initialization. Probably there are some changes with internal implementation of `xdist` and this require investigation.

[2019-09-03 13:33] #120 closed

[2019-09-03 20:56] chcheruk commented on #103
I am hitting the same issue. Any idea when this issue get fixed?

[2019-09-04 16:25] DzmitryHumianiuk commented on #103
@chcheruk someone needs to contribute

[2019-09-04 16:51] chcheruk commented on #103
@DzmitryHumianiuk Local fix mentioned above worked for me. I thought that is the fix and the master has that code. Any idea what else needs fix? Thanks

[2019-09-10 15:08] prasanna1234 commented on #125
Hi,

I am also receiving this same error. Any updates on this?

[2019-10-03 07:02] iivanou commented on #111
@trew100, the dependency in the reportportal-client was resolved yesterday. Can you try a new(3.2.3) version and close the issue if it's not the case anymore? Thanks.

[2019-10-03 07:11] iivanou commented on #112
This is a duplicate of https://github.com/reportportal/agent-python-pytest/issues/111.

@trew100, try the latest version of the reportportal-client.

[2019-10-03 15:31] iivanou commented on #128
The main cause of the issue was fixed in https://github.com/reportportal/agent-python-pytest/pull/127.

In addition to that fix, we will need to make changes in code where the RPLogHandler is being setup.

[2019-10-03 17:02] iivanou commented on #128
Docs have been updated. A fix is available in 1.0.8 release.

[2019-10-03 17:02] #128 closed

[2019-10-03 18:11] skinny-b opened #130 "pytest order being set to alphabetical with reportportal configure pytest.ini"
I noticed when trying to run some automation after having installed and setup pytest.ini to be capable of publishing to our reportportal server that what I was calling was no longer in the order I wanted.

[code]

Code for (a|b).py consists of pass to illustrate this if it matters.
The sorting is enforced in plugin.py:331 under pytest_collection_modifyitems

[2019-10-04 11:42] iivanou commented on #130
On one hand, it's bad practice to write tests that are dependent on each other.

On the other hand, the changes made in PR #62  break Pytest's default collection behavior if test modules are specified in the strict order. This change is supposed to add support for nested hierarchy test items. But in fact, the sorting applied to test items does not make any influence on their appearance at the web

[2019-10-04 11:57] s0undt3ch commented on #130
Unfortunatly our PoC using RP which led me to update this plugin had been stalled and I don't know when we'll ever pick it up.
It was a long time ago and I don't recall the why for this change anymore, sorry.

[2019-10-04 12:47] iivanou commented on #130
@skinny-b, Can you please comment out the following line in the plugin.py and confirm that your tests still report results correctly and in the appropriate order:

`items.sort(key=lambda f: (f.fspath, f.parent.name)`

[2019-10-04 13:03] iivanou commented on #108
@ilyubin , @apertureqa Could you confirm that the issue is not reproducible with 1.0.8 version of the agent?

`# pytest tests/test_report_portal.py --reportportal -n 3 -vv
platform linux -- Python 3.6.5, pytest-4.5.0, py-1.5.3, pluggy-0.11.0 -- /usr/bin/python3.6
cachedir: .pytest_cache
metadata: {'Python': '3.6.5', 'Platform': 'Linux-3.10.0-693.11.6.el7.x86_64-x86_64-with-centos-7.6.1810-Core', '

[2019-10-04 13:12] skinny-b commented on #130
From what I can tell yes, that works fine. Reportportal shows them in order and looks proper there.

[2019-10-04 13:34] iivanou commented on #106
@rcatz Are you still experiencing the problem with reporting?

[2019-10-04 14:05] iivanou commented on #103
@david-fliguer-ws, @chcheruk, I was not able to reproduce this with:
`metadata: {'Python': '3.6.5', 'Platform': 'Linux-3.10.0-693.11.6.el7.x86_64-x86_64-with-centos-7.6.1810-Core', 'Packages': {'pytest': '4.5.0', 'py': '1.5.3', 'pluggy': '0.11.0'}, 'Plugins': {'xdist': '1.24.1', 'rerunfailures': '5.0', 'reportportal': '1.0.8', 'metadata': '1.7.0', 'lazy-fixture': '0.5.2', 'html': '1.19.0', 'forked

[2019-10-04 14:07] iivanou commented on #101
@jcaplan Is that still actual?

[2019-10-04 14:56] rplevka commented on #101
Even if it was - isn't this more an issue with the `reportportal_client` lib? (according to the error provided)

[2019-10-04 15:16] iivanou commented on #101
It was submitted a year ago. There were loads of changes made to the code base within that timeframe.

Moving the issue to the appropriate project(reportportal_client) instead of pytest_reportportal.

[2019-10-04 15:28] iivanou commented on #102
@Formartha are you still waiting for a change in the pytest agent side? If so, could you please provide a little bit more details regarding a specific of your tests.

[2019-10-08 15:23] iivanou commented on #57
README has been updated in #129 . Closed.

[2019-10-08 15:23] #57 closed

[2019-10-13 10:02] iivanou opened #133 "Pytest agent logs item's messages into RP in a force manner"
If your project uses Python logging, the Pytest agent forcible catches its messages and sends those to RP. The agent should be extended the way that it allows to disable log messages upload to RP or, at least, make it possible to set up a log level for message to be uploaded. Simple use case: it does not make sense to store test logs in RP if I have them being stored in Jenkins.

[2019-10-16 15:34] cicconej opened #134 "verify_ssl=False no longer works with client v3.2.2+ as of plugin v1.0.8"
https://github.com/reportportal/agent-python-pytest/pull/116 commented out the `verify_ssl` argument that `PyTestServiceClass.init_service()` was passing through to `ReportPortalServiceAsync()`, which I think was done to address https://github.com/reportportal/agent-python-pytest/issues/111 and https://github.com/reportportal/agent-python-pytest/issues/112.

However, I think the underlying issue w

[2019-10-16 15:43] iivanou commented on #134
@cicconej Can you create a new PR in order to restore that functionality?

[2019-10-18 01:12] cicconej commented on #134
Thank you for the fix, @iivanou.

I saw your comment yesterday asking if I could submit a PR with the fix, and I was actually planning to do that, but I needed to get approval from my workplace to contribute to this project first. I got the approval now, but see you beat me to the fix 😄

Hopefully I'll be able to contribute something else soon!

[2019-10-18 07:19] #134 closed, assigned to iivanou

[2019-10-23 20:02] itepliuk opened #138 "No support of reportportal plugin with pytest-3.1.2 while version pytest-3.0.7 is in requirements"
An issue has occured while trying to integrate plugin into existing project with pytest==3.1.2
My project has platform darwin -- Python 3.7.4, pytest-3.1.2, py-1.8.0, pluggy-0.4.0

**Expected:**
Up to date requirements info. I expected to be able to use `--reportportal`.

**Actual:**
After successful installation of plugin:
`pip install pytest-reportportal`
running the test raises error:
`py.test

[2019-10-24 07:02] iivanou commented on #138
@itepliuk Could you try to apply changes in #139 locally and check how are things going?

[2019-10-24 09:26] itepliuk commented on #138
Hi, @iivanou, for 3.1.2 that fix just helped for one import from `_pytest.nodes`, but the next import error appeared:
[code]

[2019-10-24 17:49] itepliuk opened #140 "AttributeError: 'PyTestServiceClass' object has no attribute 'issue_types' when run pytest without `--reportportal` and test fails"
AttributeError is received when run pytest  **without** marker `--reportportal` and **test** from suite **fails** with any`Exception`, it breaks whole test run,
no matter what is the version of pytest(used pytest==5.1.2):
project: platform darwin -- Python 3.7.4, pytest-5.1.2, py-1.8.0, pluggy-0.13.0
`pytest-reportportal==1.0.8
reportportal-client==3.2.3
`
[code]

[2019-10-25 10:26] iivanou commented on #138
@itepliuk Can you apply fixes from #141 and try again?

[2019-10-25 10:26] iivanou commented on #140
@itepliuk Can you apply fixes from #141 and try again?

[2019-10-25 10:29] #65 closed

[2019-10-25 13:14] itepliuk commented on #140
Solved. Thanks for the fix, applied and now that works for me.

[2019-10-25 13:16] itepliuk commented on #138
Sure, I applied that fix, now there are no import errors for pytest-3.1.2. Thanks

[2019-10-25 13:42] #138 closed

[2019-10-25 13:42] #140 closed

[2019-11-08 11:54] zeburek opened #142 "Print url for launch in console"
Actually after running tests with reportportal I couldn't achieve launch from console/CI logs. I should go to RP and find it by myself.

I've added a little bit of code in order to make this work:

![image](https://user-images.githubusercontent.com/20853475/68474845-938a6980-0237-11ea-98f7-18b90816989c.png)

[2019-11-13 03:08] acdurai opened #145 "INTERNALERROR> KeyError: 'subTypes'"
I'm getting below error while try to run the test. Kindly help me to overcome this issue.

INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "c:\users\cayyanar.cccis\mobile_automation\venv_test\lib\site-packages\_pytest\main.py", line 204, in wrap_session
INTERNALERROR>     config.hook.pytest_sessionstart(session=session)
INTERNALERROR>   File "c:\users\cayyanar.cccis\mobile_

[2019-11-13 07:20] iivanou commented on #145
@acdurai Could you please share with us the outcome of the following request:
curl -X GET --header 'Authorization: bearer YOUR_TOKEN_HERE' https://YOUR_RP_URL/api/v1/YOUR_PROJECT_NAME/settings

[2019-11-13 15:32] acdurai commented on #145
@iivanou . Thanks for your prompt response.

The script is working fine now. The reason for the failure is , by mistake extra characters added at the end of UDID value, because of this the testscript got failed.

rp_uuid=e6e17009-d751-42ee-b47e-bba4910d8d6c

[2019-11-13 15:48] iivanou commented on #145
@acdurai glad to be useful:)

[2019-11-13 15:48] #145 closed

[2019-11-14 06:44] iivanou commented on #109
I think it is caused by [this](https://bugs.python.org/issue6721) logging issue. @jonozzz Can you try to reproduce it with Python 3.8?

[2019-11-14 06:51] iivanou commented on #98
@KaterynaStreltsovaDevPro
These arguments must be defined in the pytest.ini file. If you want to overwrite arguments from that file, you can do it with the help of -o option like -o "rp_endpoint=YOUR_ENDPOINT".

[2019-11-25 09:56] shashikumarraja opened #148 "rp_logger in parametrized tests is buggy"
Python: `2.7`
pytest:`3.6.4`
pytest-reportportal:`1.0.8`
reportportal-client:`3.2.3`

System Version: `macOS 10.14 (18A391)`
Kernel Version: `Darwin 18.0.0`

Issue- Sending logs in a parametrized tests  fails with below error-

[code]

`conftest.py` contains-
[code]
`test.py` contains
[code]
Attaching the console output -

[code]
First test run passes and the consecutive tests which are run after

[2019-11-25 10:33] iivanou commented on #148
It has already been fixed in #131. Closed.

[2019-11-25 10:33] #148 closed

[2019-11-26 13:39] Abhilash04 commented on #108
@iivanou
I'm using 1.0.8 version and it is still reproducible.
[code]

[2019-11-26 14:47] iivanou commented on #108
@Abhilash04 Are you sure that you put your message into the correct issue? This thread is about issues related to agent failure under the xdist Pytest plugin. You are not using that plugin according to the provided output. The resolution for your failure should have been fixed in #147. Please confirm that.

[2019-11-27 11:20] Abhilash04 opened #149 "Getting rp_logger errors while using it with class methods"
### test_base_api.py

`
""" This module contains all test cases."""

import sys
import logging
import unittest
import allure
import pytest
from BaseAPI.base_api import BaseAPI
from FrameworkUtilities.execution_status_utility import ExecutionStatus
import FrameworkUtilities.logger_utility as log_utils
from FrameworkUtilities.data_reader_utility import DataReader

@allure.story('Test Automation Demo

[2019-11-27 13:35] iivanou commented on #149
@Abhilash04 Unfortunately, there is an issue in your code that is not connected with the RP agent at all. You are not allowed to pass pytest fixtures to unittest.Testcase methods via regular approach used for the tests written in Pytest style. Reach out to [this](https://docs.pytest.org/en/latest/unittest.html#mixing-fixtures) Pytest document for additional details.

[2019-11-27 13:35] #149 closed

[2019-11-27 14:14] Abhilash04 commented on #149
@iivanou Thanks for the quick reply.

[2019-11-28 10:59] Abhilash04 opened #150 "getting attachment error for rp_logger"
[code]

[code]

[2019-11-28 11:24] iivanou commented on #150
@Abhilash04 could you please show the full stack trace?

[2019-11-28 11:43] Abhilash04 commented on #150
@iivanou

https://gist.github.com/Abhilash04/3017833fb8b56007e9c48efed5adc1f9

[2019-11-28 13:03] iivanou commented on #150
@Abhilash04 Your logger has not been patched. Can I see the full content of the test_main_page.py, please? Thanks.

[2019-11-28 16:07] Abhilash04 commented on #150
https://github.com/Abhilash04/SeleniumPythonHybridFramework/tree/feature/reportportal

[code]

[2019-11-28 16:59] iivanou commented on #150
@Abhilash04 I think the allure part of your tests makes manipulations with logging so that the default _log method is being restored to default. The code below works without issues on my side.

[code]

![image](https://user-images.githubusercontent.com/8349078/69823327-9b777100-1219-11ea-9516-985edf1d4e8a.png)

[2019-11-29 09:29] Abhilash04 commented on #150
Hi @iivanou, I have created a simple project, where I want to attach some text files after each test case execution.

I am still getting the same error.
`_log() got an unexpected keyword argument 'attachment'`

I have only 4 files under my projects. And I'm attaching requirements.txt for test purposes.
Please guide.

[code]

[code]

[code]

[code]

[2019-11-29 09:37] Abhilash04 commented on #150
@iivanou attaching the report portal screenshot and project itself.

![Screenshot 2019-11-29 at 3 00 50 PM](https://user-images.githubusercontent.com/17762842/69859214-bd283500-12b9-11ea-87d8-8685e929a8db.png)

[DemoProject.zip](https://github.com/reportportal/agent-python-pytest/files/3904576/DemoProject.zip)

[2019-11-29 11:26] iivanou commented on #150
@Abhilash04 Can you remove your try/except block in the cleanup to see the full traceback? Thx.

[2019-11-29 11:46] Abhilash04 commented on #150
@iivanou here is the updated screenshot.

![image](https://user-images.githubusercontent.com/17762842/69867136-fa95be00-12cb-11ea-8239-136c46405a2f.png)

[2019-11-29 11:49] Abhilash04 commented on #150
@iivanou I have changed the MIME to **txt/plain** still no luck.

![image](https://user-images.githubusercontent.com/17762842/69867304-68da8080-12cc-11ea-9621-43e2f3ab5442.png)

[2019-11-29 12:21] iivanou commented on #150
@Abhilash04  It is still not a traceback but a logged exception message. Below is an example of traceback I'm looking for:

Also, can you print out a list of loggers used in your code?

[2019-11-29 18:54] Abhilash04 commented on #150
@iivanou please find the details as requested.

[code]

[code]

[2019-11-29 19:04] Abhilash04 commented on #150
@iivanou additional traceback.

[code]

[2019-11-30 06:18] Abhilash04 commented on #108
@iivanou I'm not facing this issue anymore. This wasn't related to xdist. Sorry to post on wrong thread.

[2019-12-03 09:18] iivanou commented on #108
Closed as can't reproduce with the latest Pytest versions.

[2019-12-03 09:18] #108 closed

[2019-12-03 09:42] iivanou commented on #150
@Abhilash04 Your code works on my side:

![image](https://user-images.githubusercontent.com/8349078/70038947-249bf880-15ca-11ea-9e68-1362c5b21a27.png)

I'd suggest you try to run your code from the fresh virtualenv. Remove __pycache__ folder from the project as well.

[2019-12-06 16:41] vladbeza commented on #70
With all this fixes I am still can't use attachment, any suggestions?

pytest 4.6.6
pytest-reportportal 1.0.8
reportportal-client 3.2.3

[2019-12-06 16:50] iivanou commented on #70
@vladbeza Any details?

[2019-12-09 10:12] anikettare opened #151 "ReportPortal Stucks Forever with Pytest -x or Pytest maxfail=1"
Hi I am Using Pytest with ReportPortal Whenever I used Pytest -x or Pytest maxfail=1 the Test-Suit Stuck at both on  cmd as well as on UI please Provide the solution.

[2019-12-09 10:35] vladbeza commented on #70
As example,

conftest.py file content:
[code]

rp_test.py file content:
[code]
Result:
`====================== 1 failed, 1 passed in 0.40 seconds ======================`
[code]

[2019-12-09 16:17] iivanou commented on #70
@vladbeza You can temporarily modify your code like below:

[code]

I'll try to figure out why the _log method of the Logger class gets unwrapped second time.

[2019-12-10 08:36] iivanou commented on #151
@anikettare Could you please confirm if changes from #152 resolve the issue? Thanks.

[2019-12-10 13:56] iivanou commented on #70
@vladbeza Can you try changes from#153? Thanks.

[2019-12-10 23:23] MikeFez commented on #70
While I'm not @vladbeza, I was having the exact same issue they were with identical configuration as them, and your suggested changes resolved it for me.

[2019-12-11 09:31] anikettare commented on #151
Yes after making Changes in test_plugin.py mentioned in #152 it is working fine on cmd.
I tried with Two options maxfail=1 and   maxfail=2 and the execution was successful .
<img width="721" alt="Screenshot 2019-12-11 at 2 50 45 PM" src="https://user-images.githubusercontent.com/58687271/70608577-5cd4b400-1c26-11ea-9d42-6ff0a3265810.png">

But On UI i could see the the Test Suit is still in Runnin

[2019-12-11 10:31] iivanou commented on #151
@anikettare The test suite is shown as in progress because RP can't calculate execution time. All the tests are being correctly reported along with the test launch itself. From my point of view, the issue has been fixed. Reach out to @DzmitryHumianiuk in order to get details regarding the running state.

[2019-12-11 11:02] vladbeza commented on #70
@iivanou Changes solved my problem. Thank you!

[2019-12-11 13:14] DzmitryHumianiuk commented on #151
@iivanou @anikettare
state on the screen above means that launch stays in progress.
If whole execution terminated by the reason of runner, it should finalize all related parents.
Suite and Launch itself.

In version 5 you can send only finishRQ for Launch, child suites will be stopped by server.

In general, if nothing says to RP that launch finished, RP knows nothing.
that's exactly what we see o

[2019-12-11 13:19] #70 closed

[2019-12-11 13:22] anikettare commented on #151
@DzmitryHumianiuk So do i need to upgrade version to solve this Issue because the test remains in progress state on RP forever.

[2019-12-11 13:32] DzmitryHumianiuk commented on #151
@anikettare nope, looks like you need one more upgrade in #152

@iivanou in #152 you send only Suite finish RQ?
if you know that whole session can be terminated now, then just send `finishLaunchRQ` instead.

[2019-12-11 14:32] iivanou commented on #151
@DzmitryHumianiuk I verified with Python debugger that the results of the test items and the launch itself are being sent out to RP(See line 107 of the plugin.py). What I can notice is that the test suite is stuck in the progress state as well. I suspect it may be a reason why RP is continuing to treat the launch as running too. I'm sure it's something that he can handle with the Pytest due to the

[2019-12-11 15:15] DzmitryHumianiuk commented on #151
@iivanou it's under v4 of RP?
In version RP4 you should finish test case, finish suite, finish launch respectively, keeping named sequence.
or Send `Force Finish` call.

In version RP5 it's enough to finish launch only.

[2019-12-18 10:09] ohank opened #154 "rp_logger.py are not creating attachment object after first test is run."
I am logging and attaching a txt fil after all tests. but after the first one is done the logger churches on that it don't find the attachment in LogRecord object.

I have tried to remove allure and all the pycache files to. but the same result.

request = &lt;SubRequest 'rp_additional_data' for &lt;Function test_tm_074&gt;&gt;, rp_logger = &lt;RPLogger test_framework.plugins.report_portal (INFO)&

[2019-12-18 10:15] iivanou commented on #154
@ohank already fixed in #131 .

[2019-12-18 10:15] #154 closed

[2019-12-18 10:22] ohank commented on #154
Is this fix in the docker compos i can get from https://reportportal.io/download or do i have to wait for a new version?

[2019-12-18 10:25] iivanou commented on #154
@ohank You should update your Python Pytest agent.

[2019-12-18 10:38] ohank commented on #154
I have the latest pytest and pytest-reportportal. is Python Pytest agent something else?

[2019-12-18 11:21] iivanou commented on #154
@ohank Oh, these changes have not been released yet. We are gonna release 1.0.9 version of the agent day on day. Please keep track of updates on the list of releases.

[2019-12-18 11:33] iivanou commented on #151
@anikettare I made more changes within #152. Could you please apply chose and provide your feedback? Thanks. We will release a new version of the agents if this PR is acceptable for you.

[2019-12-18 13:06] ohank commented on #154
Ok, then I wait for the release. Thank for the help.

[2019-12-26 12:51] evjlobanova commented on #142
@reportportal/python-contributors

[2019-12-30 09:52] iivanou commented on #151
@DzmitryHumianiuk Dzmitry, let's merge #152  and close the issue. I tested it on my own.

[2020-01-03 20:38] #151 closed

[2020-01-03 20:38] DzmitryHumianiuk commented on #151
merged

[2020-01-04 07:39] iivanou commented on #150
Fixed in #153 .

[2020-01-04 07:39] #150 closed

[2020-01-04 07:41] iivanou commented on #142
This issue is waiting for unit tests to be added to #143 by @zeburek.

[2020-01-13 13:49] tqu007 opened #155 "AttributeError: 'PyTestServiceClass' object has no attribute 'issue_types'"
/usr/local/bin/python3.8 /Users/timq/xxx/xxx/runsuite.py
============================= test session starts ==============================
platform darwin -- Python 3.8.0, pytest-5.3.1, py-1.8.0, pluggy-0.13.1 -- /usr/local/bin/python3.8
cachedir: .pytest_cache
rootdir: /Users/timq/rcc/rcc_api_test, inifile: pytest.ini
plugins: reportportal-1.0.8
collecting ... collected 84 items

tests/mega/accoun

[2020-01-13 14:32] tqu007 commented on #155
rccdeMacBook-Pro:rptest timq$ pytest test_rp.py
============================================================================ test session starts =============================================================================
platform darwin -- Python 3.8.0, pytest-5.3.1, py-1.8.0, pluggy-0.13.1 -- /Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8
cachedir: .pytest_cache
rootdir: /Users

[2020-01-13 14:58] iivanou commented on #155
@tqu007 Check your project name and authorization token are correctly configured. Run from the console:

You should get a response similar to the below one, otherwise - you missed somewhere. Valid response should include the subTypes key.

[2020-01-14 02:09] tqu007 commented on #155
it works now. thanks @iivanou

[2020-01-14 02:44] tqu007 commented on #155
@iivanou thanks, it works fine after i regenerated the key and updated config file.

[2020-01-14 06:42] iivanou commented on #155
You are welcome!

[2020-01-14 06:42] #155 closed

[2020-01-21 06:08] ainur-fa opened #156 "add the ability to specify launch_id"
to send reports to an already launched launcher add the ability to specify argument launch_id

[2020-01-21 15:54] usr3514 opened #157 "reportportal_client.errors.ResponseError occurs when running tests"
Hi All,

When i run the tests with --reportportal the tests run successfully but at the end it throws the error '_reportportal_client.errors.ResponseError: TestItem with ID = '2be489f2-b762-4f36-8195-092044f6feb6' successfully finished._'.

Also the **reportportal launch hangs**
![report-portal hangs](https://user-images.githubusercontent.com/39473789/72819990-362d8280-3c94-11ea-9107-720f86817238.

[2020-01-22 14:01] liiight opened #158 "Plugin crash on connection error"
I got the following crash:

[code]

Seems that due to a connection issue, this is the content that I got for `self.project_settings`: `{'errorCode': 4003, 'message': 'You do not have enough permissions. Access is denied'}`

Since there was no error check on the response in `get_project_settings()` the error response was just passed as dict via `_get_json`.

RP version: 5.0.0
pytest-reportportal-1.

[2020-01-22 14:27] iivanou commented on #158
@liiight Currently RP version  5.0.0 is not supported by Python agents. The problem you are seeing is about permission issues rather than connection. Actually, the agent has been connected to the RP but failed to get your project setting due to the incorrect token or project name. The format of the JSON for the failure has changed in report portal version 5.0.0 and is not correctly handled by the

[2020-01-22 14:30] iivanou commented on #157
@usr3514 What is the version of the Report Portal you are trying to report to?

[2020-01-22 14:32] iivanou commented on #156
@ainur-fa Could you please elaborate on a use case for this request? It does not seem to be a good idea to report to existing launch from multiple places.

[2020-01-22 14:37] #112 closed

[2020-01-22 14:38] #111 closed

[2020-01-22 15:23] liiight commented on #158
I see. Are you planning to update the client to work with v5.0?

[2020-01-22 15:29] iivanou commented on #158
Yep, we are planning.

[2020-01-22 18:45] MikeFez commented on #157
I am also experiencing this issue after upgrading to Report Portal v5.

[2020-01-22 19:40] iivanou commented on #157
Currently, Python agents do not support Report Portal v. 5. A new version of the agent will be released for version 5 and higher.

[2020-01-22 21:02] liiight commented on #158
Awesome. Thank you for RP and this plugin!

[2020-01-22 23:19] usr3514 commented on #157
@iivanou  Thank you for the info. Even i'm using version v.5

[2020-01-23 04:27] ainur-fa commented on #156
I expect the following:
1) create launch on reportportal (by jenkins)
2) run the test suite in parallel on several remote hosts.
    all remote hosts must report to a pre-opened launch.
3) the launcher closes (by jenkins)

with steps 1, 3, everything seems clear,
for step 2, I suppose to pass the "launch_id" received in step 1
example:

`pytest test_suite1.py --rp_launch_id=5e26d2f3b3cb1f00010eb2a

[2020-01-23 07:27] iivanou commented on #156
@ainur-fa Why don't you run your tests in parallel on the single remote host by Jenkins? You can execute you test simultaneously with the xdist Pytest plugin.

[2020-01-23 07:40] iivanou commented on #103
Should have already been fixed in 1.0.9 version(commit: 0cb3f4e4).

[2020-01-23 07:40] #103 closed

[2020-01-23 09:49] ainur-fa commented on #156
the fact is that tests run on machines with different operating systems and with different configurations.

[2020-01-23 10:13] iivanou commented on #156
It's not a good idea to report tests started on different environments to the common launch from testing philosophy point of view. You **launch** tests on the remote environment and should report results to a separate **launch**.  @DzmitryHumianiuk any comments on this?

[2020-01-23 11:43] ainur-fa commented on #156
from the point of view of the testing philosophy, I don’t see any problems either, these are the same test suites only on different operating systems, and inside the launcher the results from different operating systems will differ by tags

[2020-01-23 12:12] iivanou commented on #156
What you are requesting is an ability to report launches to the common launch. When you are starting any kind of test framework on any environment means you are starting a launch.

[2020-01-23 19:26] DzmitryHumianiuk commented on #156
well, i don't see any issue here. There are 2 most common approaches:
- separate executions from various envs with Launches
- put all envs in one launch, to see summary statistics

In first case - there is a summary charts like (overall statistics) for the group of launches.
in seconds case, if project don't need such details as stability on particular type of env - this will be more preferable an

[2020-01-24 08:14] iivanou commented on #156
That's what I mean. Launch physically represents the session of execution. The request is about to add an ability to report multiple physical executions(session, launches) to the same launch. It can be done by the Pytest framework and the xdist plugin so that the results will be achieved within the **single** session. My point is that in this particular case it would be better to use existing inst

[2020-01-24 10:38] DzmitryHumianiuk commented on #156
@iivanou will xdist create only one launch for multi-threaded execution? or several of them?

[2020-01-24 10:52] iivanou commented on #156
xdist creates only one launch.

[2020-01-24 21:41] liiight commented on #158
Can you please specify on the last RP version that is supported? Also, I'd recommend adding this to the README

[2020-01-27 07:19] iivanou commented on #158
Everything except RP version 5.0 is supported.

[2020-01-27 07:25] liiight commented on #158
I'd like to contribute in making this happen. I want to use RP and I see that older docker images of it are no longer available.

I'll start whipping up a PR

[2020-02-04 17:59] Preyansh91 opened #160 "How to use this agent when we want to log from a multiprocess Process target func?"
I am using this agent for my pytest framework and works fine. However can someone please help me understand how to log from multiple methods executing parallely using multiporcessing library? I dont see any logging from the methods in this case to the report portal

[2020-02-05 10:09] iivanou commented on #160
@Preyansh91 Have you tried [miltiprocessing logging](https://github.com/jruere/multiprocessing-logging)? Pass rp_logger to the install_mp_handler. RP logger can't catch log messages from spawned processes cause they are being executed in a different context.

[2020-03-03 17:39] CodingWander opened #163 "Failed to import ReportPortalServiceAsync"
With the latest release of reportportal_client, we are now starting to see an error:

[code]

This just started happening with the latest release of the report portal client.

[2020-03-04 09:04] iivanou commented on #163
You shouldn't use the latest version of the client with the current version of agents. Please remove reportportal-client version 4.0.0 and **update pytest agent only**.  Agents are aware of the correct version of the client that needs to be installed.

[2020-03-04 09:07] #163 closed

[2020-03-12 21:09] subecho opened #165 "Reportportal Pytest Plugin Causes Pytest to Fail with an Internal Error with Pytest version 5.4.0"
In my CI environment, where Pytest is being run in a container (specifically the Python 3.8 docker image) it appears that it is looking for an attribute that no longer exists in `_pytest.logging`. This seems to have occurred before any sort of test collection or execution.

**Operating System**: Docker Image for Python 3.8
**Pytest Version**: 5.4.0
**pytest-reportportal Version**: 1.10.0

[code]
P

[2020-03-13 09:47] iivanou commented on #165
Unfortunately, contributors of the Pytest can change names of the functions as they want, even without deprecation period: #https://github.com/pytest-dev/pytest/pull/6849.

[2020-03-13 15:49] subecho commented on #165
That's...unfortunate. Fortunately, it looks like your patch fixes the issue I was seeing and I was able to get the tests to run and report successfully with the `v1` branch against pytest `5.4.1`. Thank you, @iivanou!

[2020-03-13 15:49] #165 closed

[2020-03-17 12:36] AnatoliiSliusarievSecurrency opened #167 "Feature request: Link issues to test case from python code"
Could you, please, add ability to link issues to test cases from python code? Currently I'm using Jira and want to have ability to add markers maybe something like this:
`@pytest.mark.issue(id="CASE-011")`
so that when I run it in reportportal, it will link my issue to Jira automatically.

If it's not implemented of course yet, but I've asked in reportportal slack and they sent me here:)

[2020-03-17 13:05] iivanou commented on #167
@AnatoliiSliusarievSecurrency, you can achieve your goal using the following options in the .ini file:

rp_issue_marks = 'xfail' 'issue' - Pytest marks that could be used to get issue information (id, type, reason)
rp_issue_system_url = http://bugzilla.some.com/show_bug.cgi?id={%issue_id} - issue URL (issue_id will be filled by parameter from pytest mark)
rp_issue_id_marks = True - Enables adding

[2020-03-17 13:19] AnatoliiSliusarievSecurrency commented on #167
when I do that I get KeyError: "%issue_id"

in my pytest.ini I have:
rp_issue_id_marks = True
rp_issue_marks = 'xfail' 'issue'
rp_issue_system_url = http://jira.link.com/projects/PROJECT/issues/{%issue_id}

in my test case I have marker:
@pytest.mark.issue(issue_id='ABC-8116', reason='some_bug', issue_type='DB')

but when I do that I get KeyError: "%issue_id"

[2020-03-17 13:40] iivanou commented on #167
I need a full stack trace...

[2020-03-17 13:53] AnatoliiSliusarievSecurrency commented on #167
platform darwin -- Python 3.7.7, pytest-3.8.0, py-1.7.0, pluggy-0.8.1
rootdir: /Users/USER/Coding/API-Tests, inifile: pytest.ini
plugins: reportportal-5.0.0, dependency-0.4.0, allure-pytest-2.5.4
collected 1 item

automation_tests/tests/hello_test.py
17/03/2020 13:23:47 PM ReportPortal - Finish TestItem: request_body={'end_time': '1584437027024', 'status': 'PASSED', 'issue': None, 'item_id': '7d57

[2020-03-17 14:04] iivanou commented on #167
Remove '%' symbol from the value of your rp_issue_system_url parameter:

'http://jira.link.com/projects/PROJECT/issues/{issue_id}'

[2020-03-18 06:37] AnatoliiSliusarievSecurrency commented on #167
I don't see any errors now, but issue is not linked in reportportal...

[2020-03-18 11:42] iivanou commented on #167
Two questions:

1. Why do you think that the issue is not linked?
2. I need to see the logs from the execution that include reportportal_client logs.

[2020-03-19 13:53] iivanou commented on #158
@liiight Can you try to reproduce the issue with the latest version of the agent? Let's try to close this...

[2020-03-19 13:56] iivanou commented on #106
Closed until the author decides to open it again.

[2020-03-19 13:56] #106 closed

[2020-03-19 14:00] #73 closed

[2020-03-19 14:02] #26 closed

[2020-03-19 14:03] #63 closed

[2020-03-19 14:09] iivanou commented on #74
Should not be an issue anymore since a non-blocking request handler that hangs on termination is not used.

[2020-03-19 14:09] #74 closed

[2020-03-19 14:10] iivanou commented on #87
I have not noticed any issues using the xdist plugin with the latest version of the agent.

[2020-03-19 14:10] #87 closed

[2020-03-19 14:12] iivanou commented on #68
@trinhpham is that issue still actual?

[2020-03-19 14:13] #98 closed

[2020-03-19 14:14] iivanou commented on #157
Closed as the agent for RPv5 has been released.

[2020-03-19 14:14] #157 closed

[2020-03-20 13:06] iivanou commented on #167
Currently, we do not support linking issues from BTS. We support just adding an issues to test results. Leave this as a feature request. I have just fixed adding issues in #168 .

[2020-03-23 18:43] 2vireddy opened #169 "logging stack trace and screenshots using python client to report portal"
I am using python unittest with pytest to run results. I would need help in logging stack trace and screenshots to the step / Test. Please help me with the code. I am new to reportportal and your help is much appreciated.  I don't know how to use the rp_logger specified in the example for python client.

[2020-03-25 19:20] dijital20 commented on #133
Here's a workaround for now. It's not pretty, but it appears to work.

[code]

[2020-03-26 04:38] 2vireddy commented on #169
used pytest plugin with fixtures for unittest. It worked fine Thank You!

[2020-03-26 04:38] #169 closed

[2020-03-26 09:04] iivanou commented on #133
I thought of a new option for the pytest.ini. Thanks for the input.

[2020-03-26 13:37] dijital20 commented on #133
Oh, I agree. Adding an ini option would be far better. What I was proposing was a workaround until an ini option is available.

[2020-03-30 17:00] david-fliguer-ws opened #172 "Running pytest with --reportporal option gets stucked"
Hi,

I am trying to get to work a basic integration of running a simple pytest test and seeing the results in reportportal

I start the containers using the docker-compose file (I see a lot of exceptions in the output though...)

And when I run the test with pytest the test passes but then it just gets stucked

I see in the output of the containers the following error:

analyzer_1       | [2019-06

[2020-03-30 19:54] dijital20 opened #174 "Tags do not appear to work"
Pytest.ini code:
[code]

Unit test code
[code]

Debug logging output
[code]

**Problem 1:**
Tags do not appear to work. As I understand it, the custom markers should be applied to the tests as tags. Additionally, I have specified a launch tag, but it does not appear as well.

I did some debugging, and found that the tags should be sent if the method `update_test_item` is on the client, but it does

[2020-03-30 19:55] dijital20 commented on #174
Let me know if Problem 2 needs to be spun off as its own issue.

[2020-03-30 19:57] dijital20 commented on #133
I did some digging through the code and found that this ini setting can be set:

[code]

This appears to squelch the logging at the handler.

[2020-03-31 07:40] iivanou commented on #172
Transferring it back to the reportportal. It has nothing to do with the pytest plugin. This isssue is caused by the incorrect test environment configuration.

[2020-03-31 07:44] iivanou commented on #133
This option allows for changing the log level of the RP logger. What I requested is to disable that logger completely with the help of a new option.

[2020-03-31 07:52] iivanou commented on #174
@dijital20 Hi. Problem #1 is gonna be fixed. tags are not accepted by the RP API anymore. We should use attributes instead. I did not get your second problem...

[2020-03-31 13:42] dijital20 commented on #174
![image](https://user-images.githubusercontent.com/4934523/78032933-5e3c0080-732b-11ea-80a4-004d1f2c6a34.png)

Here's what the results of this test look like on our local instance, which shows Problem #2.

Noted that `test1` and `test2` should be passing, and `test_failing_test` should be failed... but all 3 show as failed.

[2020-03-31 13:43] dijital20 commented on #174
On problem 1... should the documentation be updated then to show that tags are no longer supported?

[2020-03-31 13:56] iivanou commented on #174
Tags will be fixed in the next release(See #175). It requires updating the client as well. The second problem has already been fixed in #168.

[2020-03-31 14:32] dijital20 commented on #174
Good deal. I understand if there's not an answer on this yet, but do you have an ETA on that release?

[2020-04-01 06:51] iivanou commented on #174
Both packages will be released once the mentioned PRs are approved.

[2020-04-01 09:01] ohank opened #176 "Test run freezes or get status:interrupted on reportportal 5"
I have a problem to report test results to report portal server.

when I use reportportal 4.3, pytest-reportportal 1.0.9, reportportal-client 3.2.3 and pytest 5.0.1
All is working. But when I use
reportportal 5, pytest-reportportal 5.0.1, reportportal-client 5.0.1 and pytest 5.0.1
test run freezes and when I run this:

    def test_one():
        x = "this"
        assert 'h' in x

the run is logg

[2020-04-01 10:56] iivanou commented on #176
Are you saying that test run freezes at the web page?

[2020-04-01 12:21] ohank commented on #176
The web page are working fine. the test runs just stop and show no error when. I run it form the agent in the terminal. Like this:

![image](https://user-images.githubusercontent.com/44366788/78136361-c0782c80-7423-11ea-8540-7b0fd6de8802.png)

But we have develop our own testframework ontop of pytest. But we don¨t get any error to the terminal that I use to get from pytest-reportport plugin.

[2020-04-01 12:30] iivanou commented on #176
Are u sure that it is caused by the report portal? I'd like to look through debug logs...

[2020-04-01 13:05] ohank commented on #176
No i am not sure. Where do i find the debug log for the plugin?

[2020-04-01 13:11] iivanou commented on #176
The plugin uses the Python logging module. If your framework saves logs in the file(Pytest does this with the --log-file option), then they should be there.

[2020-04-01 13:59] akki2063 opened #177 "Not able to upload data to report portal, status is displayed as Interrupted"
While trying to execute a pytest file, I'm getting below error

command used -- > pytest -m <marker> --reportportal

I'm using pytest.ini in project root folder as below,

[pytest]
rp_uuid=<reportportal token from web profile>
rp_endpoint=http://<docker-ip>:8080
rp_project=<project name>
rp_launch=<Launchname>

After executing and later if i check in reportal portal project, new test will be added

[2020-04-01 14:00] ohank commented on #176
This is what i get when I run:
    def test_one():
        x = "this"
       assert 'h' in x

DEBUG    urllib3.connectionpool:connectionpool.py:208 Starting new HTTP connection (58): 10.46.61.14
WARNING  urllib3.connectionpool:connectionpool.py:277 Connection pool is full, discarding connection: 10.46.61.14
DEBUG    urllib3.connectionpool:connectionpool.py:208 Starting new HTTP connection (59): 10

[2020-04-01 14:20] iivanou commented on #176
Can you share the full log? I want to understand why the connection pool becomes full. How many requests do you send? Is it reproducible running the only one test? Thanks.

[2020-04-01 14:30] ohank commented on #176
![image](https://user-images.githubusercontent.com/44366788/78149152-f1615d00-7435-11ea-977b-5c93e4617cfa.png)

INFO     test_test:test_test.py:33 Case1. Step1
DEBUG    urllib3.connectionpool:connectionpool.py:396 http://10.46.61.14:8080 "POST /api/v2/default_personal/log HTTP/1.1" 201 61
DEBUG    urllib3.connectionpool:connectionpool.py:208 Starting new HTTP connection (2): 10.46.61.14
DEBUG    u

[2020-04-01 14:34] dijital20 commented on #176
@ohank Set these two in your pytest.ini, re-run, and send @iivanou the console output:

[code]

This should log the python logging library to the console during the test run, and output at DEBUG level. This should catch the plugin and client logs and give more info for debugging.

[2020-04-01 14:51] ohank commented on #176
Ok
log_cli = True
log_level = DEBUG

now i get a lot info. Shall i post the log here? it is kinda big.

[2020-04-01 14:53] iivanou commented on #176
Why not?)

[2020-04-01 14:54] ohank commented on #176
Yes I can. but don¨t I

[2020-04-01 14:55] ohank commented on #176
Ops didn't mean to close =(

[2020-04-01 14:57] ohank commented on #176
[reportport_log.txt](https://github.com/reportportal/agent-python-pytest/files/4415931/reportport_log.txt)

[2020-04-01 15:09] ohank commented on #176
ok i run the test on  https://beta.demo.reportportal.io/

and did get status:interrupted. So there is something wrong with my plugin I guss.

![image](https://user-images.githubusercontent.com/44366788/78153441-58354500-743b-11ea-8a4e-3167af960156.png)

[2020-04-01 15:27] iivanou commented on #176
Hold on, status:interrupted issue has already been fixed but has not been released yet. Did your test run get stuck reporting to the given instance f the reportportal?

[2020-04-01 17:33] ajinkyapande commented on #176
I am also observing the same .

`DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (6553): report-portal:8080
DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (6554): report-portal:8080
DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (6555): report-portal:8080
WARNING  urllib3.connectionpool:conne

[2020-04-02 06:04] ohank commented on #176
When i run reportportal 4.3 on the same server it works. and I get
-------------------------------- live log setup --------------------------------
DEBUG    urllib3.connectionpool:connectionpool.py:396 http://10.46.61.14:8080 "POST /api/v1/default_personal/item HTTP/1.1" 201 84
DEBUG    reportportal_client.service_async:service_async.py:305 log queued
DEBUG    reportportal_client.service:service.p

[2020-04-02 06:10] ohank commented on #176
It is this stuff the get my test run to "freeze":
-------------------------------- live log setup --------------------------------
DEBUG    urllib3.connectionpool:connectionpool.py:208 Starting new HTTP connection (1): 127.0.0.1
DEBUG    urllib3.connectionpool:connectionpool.py:396 http://10.46.61.14:8080 "POST /api/v2/default_personal/log HTTP/1.1" 201 61
DEBUG    urllib3.connectionpool:connectio

[2020-04-02 06:14] ohank commented on #176
btw thanks for all the help I appraise it =)

[2020-04-02 11:43] iivanou commented on #177
@akki2063 What version of the pytest-reportportal agent are u using? What version of the Report Portal are u reporting to?

[2020-04-02 11:44] iivanou commented on #176
Can you try increasing the size of the connection pool? https://urllib3.readthedocs.io/en/latest/advanced-usage.html#customizing-pool-behavior

[2020-04-02 11:45] akki2063 commented on #177
I'm using 5.0.0 for both pytest-reportportal and web version

[2020-04-02 11:45] iivanou commented on #174
@dijital20 Can you try 5.0.1 version to confirm that the issue is fixed?

[2020-04-02 11:52] iivanou commented on #177
Please, do not change the name of the issue, create a new one for a new issue. Update your agent to 5.0.1 version and try again.

[2020-04-02 12:06] akki2063 commented on #177
I have updated the pytest agent to 5.0.1 and tested again, but unfortunately same issue persists.

When i execute the command "pytest -m <test-marker> --reportportal" , tests are collected but will not run throwing same error.

INTERNALERROR> reportportal_client.errors.ResponseError: 4001: Incorrect Request. JSON parse error: Cannot deserialize instance of `java.util.ArrayList<com.epam.ta.reportpo

[2020-04-02 12:09] iivanou commented on #177
Can you run the Pytest with the following command and share the output:

[2020-04-02 12:19] akki2063 commented on #177
Please find the logs details below...

---------------------------------------------------------------------------- live log sessionstart -----------------------------------------------------------------------------
DEBUG    pytest_reportportal.service:service.py:127 ReportPortal - Init service: endpoint=http://IP:8080, project=test, uuid=b4b41d92-c49c-4790-92d1-daedde908784
DEBUG    urllib3.conne

[2020-04-02 13:15] dijital20 commented on #174
Well, now there's a new problem. I updated the client (5.0.2) and plugin (5.0.1) and now I am getting a 400 Incorrect Request when it tries to StartTestItem.

[take2.log](https://github.com/reportportal/agent-python-pytest/files/4421251/take2.log)

[2020-04-02 14:12] ohank commented on #176
Ok i did run whit  http = urllib3.PoolManager(maxsize=20)
and the first test did run and send result to reportportal.
But the second one didn´t start.

i got this error :
reportportal_client.errors.ResponseError: TestItem with ID = '6dea6410-7879-4536-a767-2c69d3210291' successfully finished.

here is the log:
[reportportal_log_PoolManager(maxsize=20).txt](https://github.com/reportportal/agent-pyt

[2020-04-02 14:29] iivanou commented on #177
Could you try changes from #178?

[2020-04-02 14:32] ohank commented on #176
I did notes i use the wrong pytest-reportportal. So I did upgrade and got 5.0.1 and reportportal 5.0.2.

And now I get this error insted:
INTERNALERROR> reportportal_client.errors.ResponseError: 4001: Incorrect Request. JSON parse error: Cannot deserialize instance of `java.util.ArrayList<com.epam.ta.reportportal.ws.model.ParameterResource>` out of START_OBJECT token; nested exception is com.faste

[2020-04-02 14:45] #177 closed

[2020-04-02 14:47] iivanou commented on #176
Fixed in 5.0.2 release.

[2020-04-02 14:47] iivanou commented on #174
Fixed in 5.0.2 release.

[2020-04-02 14:56] ohank commented on #176
Happy to report that 5.0.2 release. Did fix my problems! thanks for all the help! =)

[2020-04-02 14:56] #176 closed

[2020-04-02 14:58] ajinkyapande commented on #176
hello , i have just upgraded to latest version still i am getting below issue
`WARNING  urllib3.connectionpool:connectionpool.py:298 Connection pool is full, discarding connection: report-portal
DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (109): report-portal:8080
DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (110): report

[2020-04-02 15:07] iivanou opened #179 "RecursionError: maximum recursion depth exceeded"
hello , i have just upgraded to latest version still i am getting below issue
`WARNING  urllib3.connectionpool:connectionpool.py:298 Connection pool is full, discarding connection: report-portal
DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (109): report-portal:8080
DEBUG    urllib3.connectionpool:connectionpool.py:225 Starting new HTTP connection (110): report

[2020-04-02 15:11] iivanou commented on #179
@ailjushkin Hi, can you please work on the description a little bit? See [this article](https://www.softwaretestinghelp.com/sample-bug-report/). It is not possible to move forward having only a piece of logs.

[2020-04-02 15:11] #174 closed

[2020-04-02 16:48] dijital20 commented on #174
Fix one bug, find another one.

[take3.log](https://github.com/reportportal/agent-python-pytest/files/4422367/take3.log)

[2020-04-02 16:51] dijital20 commented on #174
Well, hrm... it didn't happen the other 2 times. Disregard I suppose.

[2020-04-02 17:19] ajinkyapande commented on #179
Hello, Sorry for the short info.

Please find the details below:

python version - 3.7
pytest version -  5.3.4
pytest-reportportal version - 5.0.2

Configuration in pytest.ini
[pytest]
 rp_uuid = xxxxxxxxx
rp_endpoint = http://report-portal:8080/ 
rp_project = xxxxxxxx
rp_launch = AnyLaunchName 
rp_ignore_errors = True 
log_cli = True 
log_level = DEBUG

Steps:

1. Added mentioned  configuration i

[2020-04-03 08:33] iivanou commented on #179
@ajinkyapande Can u try increasing the pool size? - https://urllib3.readthedocs.io/en/latest/advanced-usage.html#customizing-pool-behavior

[2020-04-03 11:00] ajinkyapande commented on #179
Hello, @iivanou , could you please tell me where we are creating urllib connection? so that i can make changes for the same.  One more thing why it is creating new connection every time?

My console is flooded with following logs

[code]

[2020-04-03 11:21] iivanou commented on #179
Oh, ok. You can pick up and try changes from here: https://github.com/reportportal/client-Python/pull/88.

[2020-04-03 12:18] ajinkyapande commented on #179
Hello, i tried with your changes. but still getting the same error.

I tried to debug in my code, but seems like the following line is getting executed continuously
[code]

[2020-04-03 13:09] iivanou commented on #179
Can you share your file with tests and the command-line used to start it? I'd like to reproduce the problem on my side.

[2020-04-03 13:10] ajinkyapande commented on #179
one more question does it support pytest-bdd?

[2020-04-03 13:31] iivanou commented on #179
I have never used pytest-bdd plugin.

[2020-04-06 09:00] ajinkyapande commented on #179
Hello @iivanou ,

Could you please take a pull of this https://github.com/AndyLPK247/tau-pytest-bdd
Need to add  pytest.ini with report-portal configuration and run with `pytest --reportportal`

[2020-04-06 09:09] iivanou commented on #179
Could you please clarify what I need to do and why? I did not get you.

[2020-04-06 09:14] ajinkyapande commented on #179
Hello,

These are steps to reproduce the issue.  This is sample pytest bdd project.
1.  Clone the project https://github.com/AndyLPK247/tau-pytest-bdd
2.  Add pytest.ini with following configuration
[code]
3. Run the test with command "pytest.ini"

[2020-04-06 09:22] dkuchynskyi opened #181 "reportportal_client.errors.ResponseError: 4001: Incorrect Request."
Hi
I'm updated to report portal 5.0 and using pytest-reportportal 5.0.2
test run aborted with status:interrupted and the next error in console:
INTERNALERROR>     raise ResponseError(error_messages[0])
INTERNALERROR> reportportal_client.errors.ResponseError: 4001: Incorrect Request. JSON parse error: Cannot deserialize instance of `java.util.ArrayList<com.epam.ta.reportportal.ws.model.ParameterRes

[2020-04-06 09:36] iivanou commented on #181
What is the version of Report Portal you are reporting to?

[2020-04-06 09:43] iivanou commented on #179
tau-pytest-bdd]# pytest --reportportal
=============================================================================================== test session starts ===============================================================================================
platform linux -- Python 3.6.5, pytest-5.4.0, py-1.5.3, pluggy-0.13.1
rootdir: /root/gerrit/tau-pytest-bdd, inifile: pytest.ini
plugins: cov-2.5.1, f

[2020-04-06 09:46] ajinkyapande commented on #179
Can i use https://beta.demo.reportportal.io/ ? just for testing purpose?

[2020-04-06 09:46] dkuchynskyi commented on #181
I report to report portal Build: 5.0.0

[2020-04-06 09:47] iivanou commented on #179
Yes, you can use your GitHub credentials.

[2020-04-06 09:50] iivanou commented on #181
Please run your tests with option --log-cli-level=DEBUG and share the output.

[2020-04-06 10:13] dkuchynskyi commented on #181
live log collection ------------------------------------------------------------------------------------------------
DEBUG    pytest_reportportal.service:service.py:223 ReportPortal - Start Suite: request_body={'name': ':\\---\\tests\\smoke\\test_cashier.py', 'description': None, 'start_time': '1586166889935', 'item_typ
e': 'SUITE', 'parent_item_id': None}
DEBUG    urllib3.connectionpool:connectio

[2020-04-06 10:27] iivanou commented on #181
Already fixed in 178. Closed.

[2020-04-06 10:27] #181 closed

[2020-04-06 10:41] dkuchynskyi commented on #181
But it doesn't work, I'm using 5.0.2

[2020-04-06 10:47] iivanou commented on #181
Try removing all the Python cache. Then, make sure that you have pytest-reportportal and reportportal-client packages that are both installed with 5.0.2 versions(other version must be remvoed). If it does not help, share the test code you are running.

[2020-04-06 13:58] ohank opened #182 "[v5]When running test in multiply files test result are show inside the first file"
Test result reports inside other tests result in a hierarchy.

![image](https://user-images.githubusercontent.com/44366788/78565371-1c74f380-781e-11ea-8ae1-42df06e6d268.png)
![image](https://user-images.githubusercontent.com/44366788/78565415-31ea1d80-781e-11ea-94e6-734f46d81923.png)

And I sorting on fail show no result:
![image](https://user-images.githubusercontent.com/44366788/78565560-6231bc0

[2020-04-07 06:59] iivanou commented on #182
@ohank Can you try changes from #183? Let us know the results.

[2020-04-07 08:23] ohank commented on #182
@iivanou changes from #183 from did fix the problem with nested hierarchy. Still problem show list of pass, skipped. failed and total. But to investigation works. Here are som screenshot:

![image](https://user-images.githubusercontent.com/44366788/78646687-b76edb80-78b9-11ea-85e4-80a2d3bdccc8.png)
![image](https://user-images.githubusercontent.com/44366788/78646740-cc4b6f00-78b9-11ea-819f-73c8e77

[2020-04-07 09:17] iivanou commented on #182
@ohank Sorry, I do not understand what's wrong on your screenshot...

[2020-04-07 10:10] dkuchynskyi opened #184 "[v5] Internal error - empty cpu attribute when running tests in docker"
Running tests using:
pytest-reportportal==5.0.2
reportportal-client [required: >=5.0.2, installed: 5.0.2]
reporting to Report Portal 5.1.0
Tests run on docker image.
Here is debug log:

/home/jenkins/.local/bin/pipenv run python -m pytest --log-cli-level=DEBUG -m smoke --p grid:mobile --url TARGET-SITE --json-report --reportportal

------------------------------------------------------------------

[2020-04-07 10:36] iivanou commented on #184
Duplicate to https://github.com/reportportal/client-Python/issues/86. Closed.

[2020-04-07 10:36] #184 closed

[2020-04-07 10:42] ohank commented on #182
I click the number under PASSED and get that no result is found on the page that opens. 6 test shall be shown in the second screenshot.

[2020-04-07 11:07] iivanou commented on #182
Take a look at the URL generated when you click on the PASSED number. It will be similar to `

If you change STEP to TEST in that URL, you will get what you want. If you think it is an issue, please open it in the reportportal project. It has nothing to do on the agent side. @DzmitryHumianiuk FRom my point of view, it'd be better to fill up the default filter with the TEST item type instead of the

[2020-04-07 14:44] DzmitryHumianiuk commented on #182
@iivanou that's architectual desicion fail, made 7 years ago.
We named objects corresponding to Test Case as steps, assuming the option to involve BDD.

Now we have nested steps.

And change of STEP type to TEST will affect all variety of our agents, clients and UI as well.
We plan this big step for RP 6.

[2020-04-08 05:48] ohank commented on #182
@iivanou I agree with "It has nothing to do on the agent side". It was more that I did report on the reportprotal project, to begin with. Thanks for your help!

@DzmitryHumianiuk It is good you know the problem and has a plan to fix it =)
The thing that is nuclear for me is that in reportportal 4.3 this was working. Have something change in reportportal 5 so this behavior happens based on the arch

[2020-04-08 07:05] ajinkyapande commented on #179
After installing a report-portal on another machine. I am able to push the reports.  Seems like the issue is with the previous server

[2020-04-08 09:17] DzmitryHumianiuk commented on #182
@ohank where was no big changes for the structure from v4.3 to v5.

Maybe just minor cleans ups from UI side, in order to minimize the move in RPv6.

My suggestion to get it work: change it in client.
Send your tests as type `STEP`.

[2020-04-08 12:03] #182 closed

[2020-04-08 12:03] ohank commented on #182
Fix is committed.

[2020-04-08 12:46] iivanou commented on #179
You should disable a logger that logs network messages:

Example:
[code]

@ajinkyapande Do you mind closing this issue?

[2020-04-08 12:58] ajinkyapande commented on #179
Yes. thank you for the help.

[2020-04-08 12:58] #179 closed

[2020-04-09 02:27] UncleTom opened #185 "make it possible to add item attributes as key/value pairs, not just values"
per search requirements on UI, hope we can split {"value":value} to {"key:key,"value":value}
see below local changes

[code]

[2020-04-09 08:49] iivanou commented on #185
@UncleTom If you have any suggestions, send them out as the PR. Do not forget to add unit tests.

[2020-04-09 10:28] madhukeshava opened #186 "Design of structured logging in pytest"
i need how can log this kind of logging using report logging

![61809146-690dcf80-ae45-11e9-9e5d-b866649d86b6](https://user-images.githubusercontent.com/28648906/78885789-cf418d80-7a7a-11ea-9510-16b937eee6c1.png)
 and is

[2020-04-09 10:30] madhukeshava commented on #186
@pytest.fixture(scope="session")
def rp_logger(request):
    import logging
    # Import Report Portal logger and handler to the test module.
    from pytest_reportportal import RPLogger, RPLogHandler
    # Setting up a logging.
    logging.setLoggerClass(RPLogger)
    logger = logging.getLogger(__name__)
    logger.setLevel(logging.DEBUG)
    # Create handler for Report Portal.
    rp_handler = R

[2020-04-09 10:30] madhukeshava commented on #186
using rplogger fixture

[2020-04-09 10:41] iivanou commented on #186
If you implement your steps like Pytest fixtures, it will be possible to report them as test steps via the pytest_fixture_post_finalizer hook: https://docs.pytest.org/en/latest/_modules/_pytest/hookspec.html. It is not currently implemented in the agent. You can either implement it on your own and submit PR or create an issue that will be solved by someone in the future.

[2020-04-09 10:52] madhukeshava commented on #186
@iivanou
we don't have fixture STEP annotation like  in testNG..same way in pytest

[2020-04-09 11:36] madhukeshava opened #187 "rp_launch_tags doesn't work with report portal 5.1.0 and 5.0.2 pytest agent"
can you please check guys

[2020-04-09 11:47] iivanou commented on #187
Fixed in #180 .

[2020-04-09 11:47] #187 closed

[2020-04-14 07:08] iivanou commented on #130
Fixed in #132.

[2020-04-14 07:08] #130 closed

[2020-04-14 09:48] dkuchynskyi opened #188 "[v5] No result when click on tests number in launch"
Report portal v 5.1.0
pytest-reportportal v 5.0.2
1. Go to Launches
2 Click on any tests number (Total, Passed, Failed - no matter)
image
![image](https://user-images.githubusercontent.com/34566341/79210766-fec31200-7e4d-11ea-845c-d982ff9040f4.png)

actual result:
empty page with no results opened:
image
![image](https://user-images.githubusercontent.com/34566341/79210798-0a163d80-7e4e-11ea-9878-b

[2020-04-14 14:52] #188 closed

[2020-04-15 07:18] dkuchynskyi commented on #188
@iivanou @DzmitryHumianiuk Hi guys, is it possible to roll out  v. 5.0.3 now?

[2020-04-15 10:07] mahan21 opened #190 "Plugin crash due to bad request with invalid CPU value by default"
I'm running with the example config from the read me and the plugin is crashing with the follow trace. It seems like an attribute value is empty.

[code]

When looking at the actual request in Wireshark. It seems like the value for CPU is empty and that the receiver isn't too happy about that. Other things to mention is the agent value that seems a bit strange. Overall I can't see any attempts to

[2020-04-15 10:44] UncleTom opened #191 "Hierarchy issue for module_path on windows OS"
i have **test_fix1.py** in **tests** folder,  after enable Hierarchy.

the hier part is **:\test_fix1.py** on windows OS, but **test_fix.py** on Mac OS.

print logs in _add_item_hier_parts_other function as below:

                    print('======modulepath=======')
                    print(rp_name)
                    print(part.fspath.basename)
                    print(item.fspath)

[2020-04-15 10:47] #190 closed

[2020-04-15 10:47] mahan21 commented on #190
This bug is solved by the following patch in the python client:
https://github.com/reportportal/client-Python/commit/cb661c5319dfd0343bf4734c64ff7d1e4dd8ccf0

[2020-04-15 15:41] iivanou commented on #188
@dkuchynskyi 5.0.3 has been released.

[2020-04-22 06:04] ainur-fa opened #192 "error sending results to the portal"
pytest-reportportal 5.0.3 + reportpportal 5.1.0
the situation is this: the same tests are running on 4 virtual machines (a different test environment and each machine adds information about its test environment to the attributes)
stably on one of them I get an error:

[code]

while the tests themselves pass successfully.
sometimes I get this:

[code]

[2020-04-22 10:30] iivanou commented on #192
Could you please elaborate on this "each machine adds information about its test environment to the attributes"? How exactly do you start your tests?

[2020-04-22 11:23] ainur-fa commented on #192
I have a crutch that before the tests creates a pytest.ini with the necessary fields, there are no hooks or changes in the pytest-reportportal code.

[2020-04-22 11:57] iivanou commented on #192
The root cause is not obvious seeing at the given information. I'll need more information, debug logs, and something that can be reproduced.

[2020-04-22 11:59] ainur-fa commented on #192
can you write from where (from the server or from the client) which logs and how to get them?

[2020-04-22 12:05] iivanou commented on #192
I need Pytest debug logs. Run pytest with option --log-cli-level=DEBUG,

[2020-04-22 12:30] ainur-fa commented on #192
[log.txt](https://github.com/reportportal/agent-python-pytest/files/4516085/log.txt)

[2020-04-22 12:40] iivanou commented on #192
Can you try to report your tests to https://beta.demo.reportportal.io/ui/? Let's make sure your RP instance is correctly installed.

[2020-04-22 13:25] ainur-fa commented on #192
report sent to the  https://beta.demo.reportportal.io  successfully!
https://beta.demo.reportportal.io/ui/#ainur-fa_personal/launches/all
apparently something is wrong with the server ....

[2020-04-22 13:59] iivanou commented on #192
Do you mind closing this issue?

[2020-04-22 15:45] ainur-fa commented on #192
Thanks, close.

[2020-04-22 15:45] #192 closed

[2020-04-23 04:49] RakeshSharma04 opened #193 "TypeError: test() missing 1 required positional argument: 'rp_logger'"
Hi,
Implementing the rp_logger as described, Added rp_logger fixture in conftest and the simply called rp_logger in test method as test(self, rp_logger) but getting the error TypeError: test_validLoginLogout() missing 1 required positional argument: 'rp_logger'

[2020-04-23 06:06] iivanou commented on #193
@RakeshSharma04 Are you using unittest.TestCase in your test classes?

[2020-04-23 06:09] RakeshSharma04 commented on #193
yes
@pytest.mark.usefixtures("oneTimeSetUp")
class LoginTests(unittest.TestCase):

[2020-04-23 06:56] iivanou commented on #193
Pytest fixtures do not work in classes inherited from unittest.TetsCase: https://docs.pytest.org/en/latest/unittest.html.

[2020-04-23 07:14] RakeshSharma04 commented on #193
Thanks, @iivanou, what else can be done to avoid this...., pretty new to python and pytest.

[2020-04-23 07:23] iivanou commented on #193
Have you read the given article till the end? https://docs.pytest.org/en/latest/unittest.html#mixing-pytest-fixtures-into-unittest-testcase-subclasses-using-marks

[2020-04-23 07:23] RakeshSharma04 commented on #193
I am removing unitets.TestCase, it is not collecting the test items

[2020-04-23 07:26] RakeshSharma04 commented on #193
Thanks got it

[2020-04-23 07:26] #193 closed

[2020-04-24 20:15] nbob31 opened #195 "Tests are not starting"
I am using pytest-reportportal 5.0.3 and reportportal 5.1.0 and when I run tests  locally with xdist I see the launch get created in RP but the test and browser session does not get started. Here is my config.

[code]

ENV:
Python 3.8.0
ReportPortal: 5.1.0
pytest-reportportal 5.0.3
pytest 5.4.1
xdist-1.31.0

[2020-04-28 16:51] nbob31 commented on #195
turns out it would not report unless the rp_endpoint begand with https://.

[2020-04-28 16:51] #195 closed

[2020-04-28 20:32] nbob31 opened #196 "Slow test execution"
When running selenium tests locally with reportportal enabled there is signification degradation. Tests are extremely slow where the execution difference is 2 minutes compared to reportportal not enabled. I have ran tests using xdist for threading and a single test without multiple processes and the result is the same. It seems that there is a lag or wait before each test action is executed.

[cod

[2020-04-29 06:33] iivanou commented on #196
@nbob31 How many screenshots made by Selenium do you upload to RP? When you set rp_log_level to INFO, Selenium screenshots are not gonna be uploaded. Despite the fact that the current implementation of the reportportal-client does not support non-blocking HTTP requests, you will notice differences between executions with screenshots(DEBUG level) and without them. Selenium makes a huge amount of sc

[2020-04-29 14:48] nbob31 commented on #196
Currently no screenshots were being uploaded and it was slow the only performance improvement I saw was setting the log level to info. I noticed when log level was set to DEBUG it was logging a significant amount from selenium.

[2020-04-30 07:03] iivanou commented on #196
It is slow 'cause the agent uses requests library in addition to Selenium. We are aware of the fact that the client does not support non-blocking HTTP requests. However, doing requests in the background will add the level of slowness in your tests in any case taking into account the number of logs produced by Selenium. You can create your own logger the way it is done in the rp_logger fixture and

[2020-05-01 00:20] nbob31 commented on #196
Is there away to limiting logging of all requests when the log level is set to debug?

[2020-05-02 21:03] ritchiesinger opened #198 "Feature request: parametrize test description"
Searching source code of agent I found:

    @staticmethod
    def _get_item_description(test_item):
        if isinstance(test_item, (Class, Function, Module, Item)):
            doc = test_item.obj.__doc__
            if doc is not None:
                return trim_docstring(doc)
        if isinstance(test_item, DoctestItem):
            return test_item.reportinfo()[2]

In my tests I use parame

[2020-05-04 08:25] iivanou commented on #198
@ritchiesinger Everything's possible with Python. You can write your own implementation of the _get_item_description method and replace the existing method with it. Example:

[code]

[2020-05-04 19:29] nbob31 commented on #196
@iivanou I was able to filter out the selenium logs with this setting configuration which reduced the test execution time.
[code]

[2020-05-07 19:14] ritchiesinger commented on #198
Thanks for the advice. I was able to solve my problem, although I was hoping for a more native way.

[2020-05-07 19:14] #198 closed

[2020-05-08 00:40] Preyansh91 opened #199 "Pytest reportportal throws Connection pool is full; Discarding connection issue when trying to use Multiprocessing for sending requests to AWS using boto3"
Seeing an issue of 'connection pool being full; discarding connection' when using reportportal pytest package for logging along with the test using Multiprocessing for sending requests to AWS using boto3. I have upgraded report portal to v5

requirements:
pytest-reportportal   5.0.3
reportportal-client   5.0.3

Here is the error I am seeing:
Creating sns topics
AKIA5MLTZV3YLZJVTYWY Ig2IE/2RnXMeq8c

[2020-05-08 20:26] NeuroDuck commented on #125
In pytest.ini, I set:
`rp_ignore_errors = True`
and then the test can proceed regardless of any connectivity problem to RP.

[2020-05-08 20:58] NeuroDuck opened #200 "Finer control over how test_names appear in RP history window"
I understand the following likely involves changes in both pytest-reportportal and in ReportPortal itself, so I'm starting this discussion here and in RP's general Slack channel...

<img width="730" alt="Can the test run modify these fields1" src="https://user-images.githubusercontent.com/11916373/81447672-ed5de480-9131-11ea-94ed-356db7ac8ccc.png">
<img width="710" alt="Can the test run modify the

[2020-05-12 07:21] ajinkyapande opened #201 "rp_ignore_errors = True flag is not working"
Hello,

When report portal server is not reachable then my job is failing, even if i have added **rp_ignore_errors = True** in my pytest ini file .

pytest.ini
`[pytest]

rp_uuid = XXXXXX
rp_endpoint = http://XXXX:8080
rp_project = XXX
rp_launch = default_launcher
rp_ignore_errors = True
rp_hierarchy_dirs = True`

Error
`NodeXXXXXXX::XXXXXX
 Fail to take screen-shot: Invalid response: Expecting va

[2020-05-12 08:12] iivanou commented on #201
rp_ignore_errors flag works at the beginning of the service startup. If we have any connectivity, RP availability issues, then it will skip reporting silently. If your instance of RP server becomes unavailable within the testing process, you will get all the errors visible.

[2020-05-13 08:28] ajinkyapande commented on #201
@iivanou thanks for the explanation. But this should not fail my original job ?
Remaining tests are not getting after this exception :(

[2020-05-13 08:38] iivanou commented on #201
What behavior do you expect from the application side if some of the services it talks to becomes unavailable?

[2020-05-14 21:34] #196 closed

[2020-06-09 07:43] zeburek opened #204 "Execution time grown from RP v4 to RP v5"
Previously I was using a fork of your repo to connect to RP v4 (4.3.6)
The configuration of RP v4 client was:
- agent-python-pytest.git@1.1.3 (from https://github.com/zeburek/agent-python-pytest)
- client-Python.git@3.2.3 (from https://github.com/reportportal/client-Python.git)

Result of execution all API tests was like this:
![image](https://user-images.githubusercontent.com/20853475/84119371-ee

[2020-06-09 08:21] zeburek commented on #204
Also difference without and with RP on 20 tests:
[code]

[code]

[2020-06-09 08:47] iivanou commented on #204
@zeburek latest version of the agent and the client do not support RP v4. Please, read through the documentation and consider using the old one client for reporting to RP v4.

[2020-06-09 08:49] zeburek commented on #204
I use new v5 server, sorry, didn't describe this in ticket

[2020-06-09 08:53] iivanou commented on #204
Test time growth is expected because in RP v5 we must wait for the API request to complete and return test item UUID in order to handle item hierarchy properly.  This issue will be fixed in a new client that is in development right now.

[2020-06-09 09:39] zeburek commented on #204
Do you have any deadline for it?
When we could use it?

[2020-06-09 09:46] iivanou commented on #204
I do not. We work on it in our free time.

[2020-06-09 10:06] zeburek commented on #204
Is there any way to help you to speed up this proccess?

We want to use RPv5, but this bug blocks us

[2020-06-09 10:14] iivanou commented on #204
Why can't u use RPv5 right now? The client works but a bit slower...

[2020-06-09 10:17] zeburek commented on #204
50 minutes VS 80+ minutes - to much difference

[2020-06-09 10:25] iivanou commented on #204
You can implement non-blocking HTTP queries to the API in the client in order to solve the issue with performance.

[2020-06-10 08:40] evjlobanova commented on #204
@zeburek ReportPortal team does `t have a dedicated Python developer in the team.
So that we will be glad if you want to contribute us, and help Ivan with agent/client update.
This is the only way to speed up the process

[2020-06-16 21:13] g-bon opened #205 "Field attributes.value size error with long test names or skipped reason"
When running the following testcase

[code]

A RP error is raised regarding attributes.value size exceeding 128

[code]

Shortening the test name or the skip reason solves the issue e.g.

[code]

System info:
platform darwin -- Python 3.7.6, pytest-5.4.3, py-1.5.4, pluggy-0.13.1 --
metadata: {'Python': '3.7.6', 'Platform': 'Darwin-19.4.0-x86_64-i386-64bit', 'Packages': {'pytest': '5.4.3', 'py': '1

[2020-06-16 21:19] g-bon commented on #201
Hi, I also think it's a reasonable request from @ajinkyapande. Maybe RP is not the the only reporting system used in a project e.g the user configure a pytest run to also produce a junit xml report of the results in addition to sending the results to pytest.

In that case if rp_ignore_errors = True I think is a reasonable expectation to have any error raised by the pytest-reportportal pluging (e.g

[2020-06-28 19:12] usr3514 opened #206 "--reportportal -o "rp_launch_attributes=TestingTags" doesn't tag the launch in ReportPortal"
Hi All,

I tried running pytest with --reportportal -o "rp_launch_attributes=TestingTags" command.
It doesn't add the attributes to the test launch.
I also tried -o "rp_launch_attributes=run_id:TestingTags" where 'run_id' is attribute key and 'TestingTags' is attribute value. That doesn't work as well.

I'm using below versions of lib
pytest==5.0.1
pytest-reportportal==5.0.3

Could someone help me

[2020-07-01 07:40] iivanou commented on #206
@usr3514 Hi, everything works on my side...

![image](https://user-images.githubusercontent.com/8349078/86216686-1d9c8f00-bb87-11ea-920e-fb69ca2317b6.png)

![image](https://user-images.githubusercontent.com/8349078/86216728-28efba80-bb87-11ea-9a1d-3ee396236030.png)

![image](https://user-images.githubusercontent.com/8349078/86216859-52104b00-bb87-11ea-8dd1-2d48e1e5bb08.png)

[2020-07-01 16:59] usr3514 commented on #206
@iivanou Thank you for responding.
Its working form me when I run the pytest command with --reportportal -o "rp_launch_attributes=TestingTags"  in command-line.
Earlier i was running pytest with --reportportal -o "rp_launch_attributes=TestingTags" added in pytest.ini file.

[2020-07-01 18:36] iivanou commented on #206
Could you please describe what exactly is not working on your side? I'm confused now.

[2020-07-02 02:53] usr3514 commented on #206
When i raised the issue i was running pytest with --reportportal -o "rp_launch_attributes=TestingTags" added in pytest.ini file (which doesn't work)

![image](https://user-images.githubusercontent.com/39473789/86310800-8134c400-bc3c-11ea-8a34-a976d840dca0.png).

After you responded to the issue I ran pytest with --reportportal -o "rp_launch_attributes=TestingTags"  in commandline, and it worked
![

[2020-07-02 02:53] #206 closed

[2020-07-02 07:21] dimit999 commented on #206
@iivanou u didn't fix all issues

if run in this format: -o "rp_launch_attributes=sanya:krasava"

U WILL SEE THAT TEST WILL NOT ADDED TO WIDGET
TAG WILL NOT CREATE CORRECTLY: IN YOUR CODE U HAVE:

because in your code:
attributes = [{'value': tag} for tag in
                      session.config.getini('rp_launch_attributes')]

if debbug it - it is looks like: value: sanya:krasava

but we need key

[2020-07-02 07:30] dimit999 opened #207 "--reportportal -o "rp_launch_attributes=key:error": tag is created on the portal, but is not added to "Cumulative trend chart""
Earlier your had issue: https://github.com/reportportal/agent-python-pytest/issues/206

BUT

if run in this format: -o "rp_launch_attributes=sanya:krasava"

 u will see that test will not added to widget
tag will not create correctly: in your code u have:

because in your code:
attributes = [{'value': tag} for tag in
session.config.getini('rp_launch_attributes')]

if debug it - it looks like: valu

[2020-07-02 08:17] iivanou commented on #206
@dimit999 First of all, I have not fixed anything. Secondly, it is not necessary to use the caps lock. Have you seen somewhere in the documentation that the agent supports sending key/value attributes? I do not think so. If you want to implement that(key/value) functionality, create a new issue as a new feature request and someone will pick it up in the future. This particular issue is not related

[2020-07-02 09:36] dimit999 commented on #207
@iivanou  please review, merge and publish: https://github.com/reportportal/agent-python-pytest/pull/208
will be amazing if it will be at near time
this MR will fix the issue which we have discussed above
thanks

[2020-07-09 05:12] #207 closed

[2020-07-09 09:30] NoReflexness opened #210 "Connection pool is full, discarding connection > RecursionError: maximum recursion depth exceeded"
**Short Description:**
Running into "Connection pool is full, discarding connection" when logging from the test case itself using default settings.

**Environment:**
Server: 5.2.2
Client:
- macOS Mojave: 10.14.6 (18G5033)
- Python 3.7.3
- pip freeze:
[code]

**Steps to reproduce:**
Setting up env:

1. python3 -m venv venv
2. source venv/bin/activate
3. pip install pytest-reportportal

pytest.ini:

[2020-07-13 13:55] Ngaur commented on #176
I am getting the same error , execution freezes with so many connectionpool requests and never comes back.
using report-portal server v 5.2.2 (installed through docker)
pytest_reportportal v 5.0.3

I had also tried reporting logs to demo report-portal server, behaviour is same.

following are the logs :
---------------------------- live log sessionstart -----------------------------
DEBUG    pytes

[2020-07-13 13:58] Ngaur opened #211 "Pytest Execution freezes with so many connectionpool requests and never comes back"
I am getting the same error , execution freezes with so many connectionpool requests and never comes back.
using report-portal server v 5.2.2 (installed through docker)
pytest_reportportal v 5.0.3

I had also tried reporting logs to demo report-portal server, behaviour is same.

following are the logs :
---------------------------- live log sessionstart -----------------------------
DEBUG    pytes

[2020-07-15 11:24] dshtapauk commented on #211
+1. The same problem for me

[2020-07-16 13:53] iivanou commented on #125
Fixed in #212.

[2020-07-16 13:53] #125 closed

[2020-07-22 15:16] bivas6 opened #216 "reported log level by file"
Hi,

Is there a way to specify global logging level to report on [Error] and override it in specific files?

We are using a lot of pip-packages that filled us with debug/info logging, while we are interested only in our logs.

Thanks.

[2020-07-22 15:37] iivanou commented on #216
Currently, the agent filters out the reportportal_client messages only. And there is no option to add additional loggers that need to be excluded. This functionality either needs to be implemented in the agent or you can disable logging from other packages in your code.

[2020-07-23 08:43] bivas6 commented on #216
Thanks for the quick reply!

My problem is that before I used report-portal, i have those lines in conftest.py:

`import logging
logging.basicConfig(level=logging.ERROR)
`
Which cause every package to log only errors, but now it seems that report-portal agent just override it somehow.

Thanks.

[2020-07-23 09:04] iivanou commented on #216
I do not see any changes related to logging being submitted this year... Check your fixtures and Pytest command-line options.

[2020-07-23 11:10] iivanou commented on #185
Fixed in #215.

[2020-07-23 11:10] #185 closed

[2020-07-23 15:55] bivas6 commented on #216
OK, So I managed to reproduce it with a minimal project:

File pytest.ini:
[code]

File test_somthing.py:
[code]

File run.py:
[code]
and execute:
`python3 run.py`

Output:
[code]

But if I'm changing pytest execution in run.py to:
`pytest.main(['-s'])`

Only the ERROR logs are displayed.

Thanks.

[2020-07-24 12:54] iivanou commented on #216
@bivas6 If you are using the rp_logger fixture described in the [docs](https://github.com/reportportal/agent-python-pytest#examples) **as is**, it is expected to have the log level being changed with the reportportal option enabled.

[2020-07-24 13:09] iivanou commented on #216
Was not able to reproduce your issue on my environment.
![image](https://user-images.githubusercontent.com/8349078/88394375-076da180-cdc8-11ea-98be-2b01cd57484b.png)

[2020-07-26 15:46] bivas6 commented on #216
This way it works also for me as expected.
The problem reproduced when you are trying to run pytest from python script (see run.py above).

[2020-07-27 09:45] iivanou commented on #216
@bivas6 The basicConfig function does nothing if the root logger already has handlers configured. If case of starting your script with the --reportportal option, you should change log level the following way:

`logging.getLogger('').setLevel('ERROR')`

P.S. The way you are running pytest is not officially supported:)

[2020-07-27 11:58] bivas6 commented on #216
OK, I see, thanks.

P.S. Why not? [Docs](https://docs.pytest.org/en/stable/usage.html#calling-pytest-from-python-code)

[2020-07-28 14:59] harshagv12 opened #217 "How can i map the Attribute keys and Attribute values to generate the charts"
How can i map the Attribute keys and Attribute values to generate the charts "Component health check" and "Cumulative trend chart" for below rp_launch_tags,

1. launch Name
2. Build
3. Platform

Can you please help me on this ?

I am using pytest framework and integrated to report portal

[2020-08-03 13:59] EitanBe opened #218 "AttributeError: 'generator' object has no attribute 'longrepr'"
latest reportPortal version 5.0.3

[2020-08-03 14:12] iivanou commented on #218
@EitanBe Please, use [this handbook](https://musescore.org/ru/handbook/developers-handbook/getting-started/how-write-good-bug-report-step-step-instructions) to create a good issue. It is not possible to move further with the currently given information.

[2020-08-04 10:03] EitanBe commented on #218
The issue was an old pytest version.

[2020-08-04 10:03] #218 closed

[2020-08-04 10:03] EitanBe commented on #218
update pytest version

[2020-08-05 08:49] harshagv12 opened #219 "How can i map the Attribute keys and Attribute values to generate the charts"
How can i map the Attribute keys and Attribute values to generate the charts "Component health check" and "Cumulative trend chart" for below rp_launch_tags,

launch Name
Build
Platform
Can you please help me on this ?

I am using pytest framework and integrated to report portal

[2020-08-05 10:02] iivanou commented on #219
Transferring back to reportportal project. This request has nothing to do with the agent. It is about guidance regarding charts.

[2020-08-05 12:57] NoReflexness commented on #210
Problem has disappeared with version 5.0.4

[2020-08-05 12:57] #210 closed

[2020-08-10 22:59] 0xIslamTaha commented on #204
@iivanou thnx for your effort. I'm wondering if there is any progress in this issue?

[2020-08-18 12:52] ohank opened #221 "Sending data during test execution desync test to fail."
Hi, we have a problem that python agent slows down that test execution during a test case.
A test case consists of several asserts after each asserts the python agent sends/receives data to/from report portal services.
This leads to our test case fail due to time sync.
Is there a way to set communication only at the end of the test case.

[2020-08-18 13:02] iivanou commented on #221
The communication with the RP API occurs twice: at the very beginning of the test, and at the end of the test.

[2020-08-19 11:25] EitanBe opened #222 "pytest-parallel doesnt work with pytest-reportportal"
Environment:
pytest 6.0.1
python 3.7.3
pytest-parallel 0.1.0
reportrportal - latest

Exception:
plugins: reportportal-5.0.4, parallel-0.1.0, xdist-1.30.0, metadata-1.10.0, sugar-0.9.2, lazy-fixture-0.4.2, shutil-1.7.0, check-0.3.4, html-1.19.0, ordering-0.6, forked-1.3.0, allure-pytest-2.8.6
collecting ... pytest-parallel: 4 workers (processes), 1 test per worker (thread)
INTERNALERROR> Traceback

[2020-08-19 12:02] EitanBe opened #223 "Connection pool is full, discarding connection: reportportal-*.com (qa_postgress_db.py:22) 11:56:33 2020-08-19 11:56:33 [WARNING] Connection pool is full, discarding connection: reportportal*..com"
pytest plugin and wityh 1700 tests get stuck according to this exception:
Connection pool is full, discarding connection: reportportal.*.com
11:56:33   2020-08-19 11:56:33 [WARNING] Connection pool is full, discarding connection: reportportal-2*.com
Thanks

[2020-08-24 11:03] nilaya123 opened #224 ""TypeError: Object of type 'LocalPath' is not JSON serializable" is seen when working on 5.0.4"
"TypeError: Object of type 'LocalPath' is not JSON serializable" is seen when working on 5.0.4

Logs:
====
$ py -3 -m pytest test_example_form.py --reportportal
============================= test session starts =============================
platform win32 -- Python 3.6.5, pytest-4.1.1, py-1.8.0, pluggy-0.13.0 -- C:\Python36\python.exe
metadata: {'Python': '3.6.5', 'Platform': 'Windows-10-10.0.1836

[2020-08-25 06:08] orgads commented on #216
@iivanou Hi,

Can you suggest a fix or a workaround for this?

[2020-08-25 06:22] #223 closed

[2020-08-25 07:38] iivanou commented on #216
@bivas6 Read [this](https://docs.python.org/3/library/logging.html#logging.basicConfig) out, please.

@orgads Workaround is posted in [this](https://github.com/reportportal/agent-python-pytest/issues/216#issuecomment-664245575) comment.

[2020-08-26 06:34] EitanBe commented on #211
same issue

[2020-08-31 21:04] nalherbawi commented on #211
+1 same issue with me on 5.0.3

[2020-09-04 08:04] dkuchynskyi opened #225 "Add support for the latest xdist versions 2.x"
Report Portal v 5.3.0
Python 3.8.3,
pytest-6.0.1
pytest reportportal-5.0.3
pytest xdist-2.1.0

running tests with report portal and ixdist causes error:

gw0 C / gw1 IINTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "C:\Users\-\.virtualenvs\-\lib\site-packages\_pytest\main.py", line 238, in wrap_session
INTERNALERROR>     config.hook.pytest_sessionstart(session=session)
INTE

[2020-09-04 09:30] iivanou commented on #225
@dkuchynskyi Downgrade pytest to any of 5.x version.

[2020-09-04 09:38] dkuchynskyi commented on #225
@iivanou does it mean that bug in pytest?
it is not so easy for my project to downgrade pytest because of other dependencies

[2020-09-04 09:47] dkuchynskyi commented on #225
@iivanou the same with pytest 5.4.3
platform win32 -- Python 3.8.3, pytest-5.4.3, py-1.9.0, pluggy-0.13.1

plugins: forked-1.3.0, json-report-1.2.1, metadata-1.10.0, remotedata-0.3.2, reportportal-5.0.3, xdist-2.1.0

INTERNALERROR>     node.slaveinput['py_test_service'] = pickle.dumps(node.config.py_test_service)
INTERNALERROR> AttributeError: 'WorkerController' object has no attribute 'slaveinput

[2020-09-04 09:57] iivanou commented on #225
@dkuchynskyi Could you try xdist plugin version 1.31? There were a significant amount of changes made in the new major version of these plugins. We're not planning to support them on the first steps until they become not more not less stable.

[2020-09-04 10:45] dkuchynskyi commented on #225
@iivanou thanks,
 now it works with next config:
pytest-reportportal = "==5.0.3"
pytest = "==5.4.3"
pytest-xdist = "==1.31.0"

[2020-09-04 11:04] iivanou commented on #225
Np. I'll leave this issue as is for the tracking purpose.

[2020-09-09 09:44] nfk opened #226 "Add support for pytest 6.x"
Hello,

Since pytest 6.0 warnings are set as error by default, see https://github.com/pytest-dev/pytest/releases/tag/6.0.0.
So we cannot use report portal feature without tweak the command line or the configuration.

[code]

Then, another issue about path which uses Pathlib instead of str.

[code]

[2020-09-14 13:01] ohank opened #228 "Long pytest makers make report portal status:interrupted"
When i use this on a test:
@pytest.mark.required_options('MACHINE_TYPE=100/101/102/103/104/105/106/107/108/110/111/112, USE_FAM_HLM_SENSOR=1, USE_FAM_OPTION=1, USE_HOLE_LENGTH_MEASURE=1)

report portalt get status:interrupted and this error:
INTERNALERROR> reportportal_client.errors.ResponseError: 4001: Incorrect Request. [Field 'attributes[].value' should have size from '1' to '128'.]

the @pytes

[2020-09-17 01:29] allan-silverstein opened #229 "How to dynamically add Report Portal test attributes to Pytest test"
First tried asking this on stackoverflow but didn't get any responses.... I'm using the Reportportal Pytest plugin. Is there a way to add test attributes to a test other than using rp_tests_attributes defined in the pytest.ini file (or on the command line). Specifically, my test will learn some information about the "System Under Test" and then perform the test. I want to add a piece of that "lear

[2020-09-17 08:51] iivanou commented on #229
It is possible using Pytest markers.

[2020-09-17 19:08] allan-silverstein commented on #229
Right, I saw that pytest markers get translated to test attributes.  However, the markers are preset before the test runs.  In my case, the test setup will extract a piece of information from the "System Under Test'.  I then want to make that piece of information sent to report portal and also be searchable/filtered via the Report Portal Web Portal.
Any way to do this?
Thx
Al

[2020-09-18 07:35] iivanou commented on #229
Currently, it's impossible because the list of markers is being created before execution starts.

[2020-09-18 18:17] allan-silverstein commented on #229
What about if I learn the information I need through a fixture.  The information is then returned to the test function... Any information that can be passed to reportportal that way (and then filtered on)?

[2020-09-21 06:32] iivanou commented on #229
Nope, you can do this through the pytest_runtest_protocol hook only.

[2020-09-23 08:07] #221 closed

[2020-09-23 08:10] ohank opened #230 "Log level are not getting set and logging happens in the testcases when run."
Background

When using report portal each line in a test case that include some sort of communication towards DUT add test time. This can be a serious bug if it leads to that the test fails due to timeout. It can also be difficult to make the conclusion that it depends to using report portal.

When inspecting the logs that is created is show that it has both log level INFO and DEBUG. It shall not

[2020-09-23 08:11] ohank commented on #230
Time for whole test sequence to execute will be added soon.

[2020-10-02 10:47] claes-arvidson opened #232 "New feature: Present xfailed and xpassed in report-portal plugin"
Hi,
We are around 200 software developers at our company that will start using the report-portal plugin. However, in order for us to be satisfied with this plugin we would like to be able to present two columns: "xfailed" and "xpassed" so that they are not included in the "Passed and "Skipped" column. This would make us lose a lot of debug/evaluation time when running nightly runs on Jenkins for a

[2020-10-02 11:52] iivanou commented on #232
@claes-arvidson What is the difference between your "xpassed" result and regular "passed" result? When you mark your test with the "xfail" marker, it means the results of that test will not impact the whole execution results and the test itself will be reported as "skipped" one. This situation is [already supported](https://github.com/reportportal/agent-python-pytest/blob/8a6c2fdac4292762baa12cd42

[2020-10-06 14:35] #224 closed

[2020-10-06 14:37] #229 closed

[2020-10-06 14:38] iivanou commented on #228
I think it can be fixed.

[2020-10-06 14:47] iivanou commented on #230
It's not possible to "not add any time" to a test execution when adding more code that works with RP API. The root cause of that issue is described [here](https://github.com/reportportal/client-Python/issues/113). Will be fixed when the mentioned issue is closed and released.

[2020-10-06 14:47] #230 closed

[2020-10-06 14:49] iivanou commented on #217
This issue is not located at the appropriate project. Moving to reportportal.

[2020-10-06 14:52] iivanou commented on #211
The root cause of that issue is described [here](https://github.com/reportportal/client-Python/issues/113). Will be fixed when the mentioned issue is closed and released.

[2020-10-06 14:52] #211 closed

[2020-10-06 17:34] ohank commented on #230
We did fix the by changing our on pytest plugin for report portal.

[2020-10-09 07:48] ajinkyapande commented on #156
Any update on this?

I also think we need this feature . Lets say , some service is down and tests related to that are failing.
But after some time when the service is up then instead of creating new launcher it will be helpful to have provision to update result in the same laucher

[2020-10-09 14:14] iivanou commented on #156
No updates, I haven't seen PRs with implementation. I haven't worked on that enhancement as well.

[2020-10-11 18:38] NikitaFedoraev opened #233 "Log batch size parameter from pytest.ini is ignored."
Log batch size parameter from pytest.ini ignored.

https://github.com/reportportal/agent-python-pytest/blob/master/pytest_reportportal/service.py#L147
[code]
`log_batch_size` is not passed to the `ReportPortalService()` constructor.

As result:
1. attachments are not seen in real-time. To see an attachment a user needs to wait till required number of attachments will be in the batch /end of sessio

[2020-10-11 19:20] NikitaFedoraev commented on #233
In the constructor, we have `self.log_batch_size = 20` which is not used at all.
Should I set this value to the property to be consistent?

[code]

[2020-10-12 07:50] iivanou commented on #233
It is missing because that feature is not working right now.

[2020-10-12 07:55] #233 closed

[2020-10-19 07:57] iivanou commented on #222
Duplicate to #224.

[2020-10-19 07:57] #222 closed

[2020-10-20 15:31] gavrielrh opened #235 "Create new tagged release for v1"
Hi 🙂
I was looking to use this library with pytest >= 5.4.0 (reportportal version < 5, so v1 branch) and ran into the same issue that was encountered in https://github.com/reportportal/agent-python-pytest/issues/165

I initially was going to submit a PR to fix this, but I noticed that it actually was fixed back in March:  [ea33cba6e074484f27b6afaa476670d1bbe75151](https://github.com/reportportal/a

[2020-10-21 07:17] iivanou commented on #235
Done.

[2020-10-21 07:17] #235 closed

[2020-10-26 08:01] georgebukki opened #236 "pytest-reportportal 5.0.5 incompatible with pytest 6.0.1"
**Describe the bug**
[code]

**To Reproduce**
run tests with -n <num of workers more than 1> with pytest 6.0.1 and xdist 2.1.0

**Expected behavior**
should work with new pytest :)

**Desktop (please complete the following information):**
 same from mac/ubuntu

**Additional context**
all works if I change each "slaveinput" to "workerinput"  in "site-packages/pytest_reportportal/plugin.py"

[2020-10-27 09:07] iivanou commented on #236
Duplicate to #225 and #226

[2020-10-27 09:07] #236 closed

[2020-10-28 15:03] vishallanke opened #237 "[help required] ModuleNotFoundError: No module named 'six.moves.collections_abc'"
I can see that 'six' module inside site_packages

[code]

[code]

[2020-10-28 15:12] vishallanke commented on #237
None of the options worked
Finally issue is reoslved after doing below

`pip install --ignore-installed six
`

[2020-10-28 15:12] #237 closed

[2020-11-19 23:31] allan-silverstein opened #241 "Log attachments being attached to the wrong test function with Pytest"
I had originally posted this issue under ReportPortal but I believe it belongs here:

This something that has been happening to me for a while when initiating the tests from a particular system. In this case, I have 17 test functions spread across 8 modules. I'm running them using the pytest markers flag (-m ). After each test function runs, the following code is called to send detailed log files

[2020-11-20 09:04] iivanou commented on #241
Nothing's changed in that functionality since release 5.0.3 both in the agent and in the client. Try running your tests with the DEBUG log level. If you are not able to find out the root cause, then share those logs here and I will try to help you.

[2020-11-20 12:51] NoReflexness commented on #225
@pytest.mark.optionalhook
def pytest_configure_node(node):
    """
    Configure node of tests.

    :param node: _pytest.nodes.Node
    :return: pickle of RPService
    """
    if node.config._reportportal_configured is False:
        # Stop now if the plugin is not properly configured
        return

    # xdist 2.x support hotfix
    if "slaveinput" in node.__dict__:
        node.slaveinput['py

[2020-11-26 14:15] rplevka commented on #156
@iivanou, i think we can close this issue now

[2020-11-27 09:07] #156 closed

[2020-12-10 11:51] vlbolotin commented on #241
I'm observing the same issue as soon as updated both client an agent from version 5.0.3
I've tried both 5.0.5 and 5.0.6
It looks like attachments are added in bulk at some point of execution so that attachments from already executed tests from other modules are attached at once to the one test.
In the release notes to 5.0.6 for agent there is a note - Fixed missed log_batch_size in init_service();

[2020-12-10 12:37] iivanou commented on #241
The workaround is to add `rp_log_batch_size = 1` into the pytest.ini file.

[2020-12-10 13:01] vlbolotin commented on #241
Workaround has helped. Thanks a lot!

[2020-12-10 15:03] allan-silverstein commented on #241
I will try this later this week.  Hope it helps me as well...

[2020-12-11 12:50] #225 closed

[2020-12-14 14:48] iivanou commented on #228
I'm gonna move this bug to the common client. It's better to verify the length of attribute values in the client rather than in every agent.

[2021-01-27 19:53] clacroix12 opened #248 "WARNING Connection pool is full, discarding connection"
Hello,

My team has been using an older version of pytest-reportportal with our ReportPortal v4 instance for a while now with some level of success. We have recently been provided with a v5.3.0 ReportPortal instance so I am trying to update to the later pytest-reportportal agent version which is compatible. During testing I have been encountering the following error being spammed until my applicat

[2021-01-28 14:01] iivanou commented on #248
Hi, the issue occurs if you send too many attachments to RP. Caused by [this bug](https://github.com/reportportal/client-Python/issues/113).

[2021-01-28 23:36] clacroix12 commented on #248
I don't think this is limited to attachments as none of the log messages we are sending to RP have any attachments:

![Screen Shot 2021-01-28 at 3 35 59 PM](https://user-images.githubusercontent.com/1605721/106212019-8d571480-617e-11eb-8c65-c1a7405a0aa5.png)

[2021-01-29 17:22] DzmitryHumianiuk commented on #248
@clacroix12 please also take a look into configuration of connection pool here
https://reportportal.io/docs/Optimal-Performance-Hardware%3E5-application-connections-pool-tuning

[2021-02-05 00:04] clacroix12 commented on #248
Thanks, I'll pass this onto the team that maintains the RP instance and see if some adjustments can alleviate this issue.

In the meantime I've been trying to mess with the logging batch size to try to cut down on the amount of connections necessary while logging in large amounts. It appears that it isn't batching logs at all. I'm seeing POSTs to the `/api/v2/superadmin_personal/log` API endpoint

[2021-02-06 09:39] leoyyoung opened #249 "Test execution is hanging there when try to send 2nd log"
Hi

Currently I want to use agent-python-pytest with reportportal, and send logs to it also.
I followed the same example in the guide: https://github.com/reportportal/agent-python-pytest
But the test is hanged there while I try to send logs continously, see below:

Here is my test function:

    rp_logger.info("Test result for test_add_1")<<<Test Code will hang here, no errors displayed, this log

[2021-02-08 09:52] iivanou commented on #249
Hi,

Could you provide environment details along with debug logs?

[2021-02-15 14:05] #249 closed

[2021-02-15 14:23] #226 closed

[2021-02-15 14:24] iivanou commented on #226
I think now both issues are resolved and we have claimed Pytest 6.x support.

[2021-02-15 14:33] iivanou commented on #205
Fixed in the common client through [this](https://github.com/reportportal/client-Python/pull/137) PR.

[2021-02-15 14:33] #205 closed

[2021-02-15 14:34] iivanou commented on #216
Closing this one. Feel free to re-open the issue if it is still actual.

[2021-02-15 14:34] #216 closed

[2021-02-24 16:10] cr-idanhaim commented on #201
Any update on this?

[2021-02-26 13:11] ohank opened #251 "All test results are shown in the first test run when using the new version of pytest-reportportal"
Same problem as:
https://github.com/reportportal/agent-python-pytest/issues/182

But now with the new version of pytest-reportportal 5.0.8 and reportportal-client 5.0.9
The long path that this creates when many tests are run somehow makes the database stopped working correctly.
The next test run doesn't show tests that have been run.

Example of how long path looks like but we get 500 .py files.
!

[2021-02-26 14:12] iivanou commented on #251
@ohank Can you try changes from #252? It fixed the issue on my side.

[2021-02-26 17:14] ohank commented on #251
The reproduce time is long so i will try when i can.
How do i get the chance?
Are it in any release?

[2021-02-27 09:07] iivanou commented on #251
It's not released, you have to apply the change from the specified PR locally. It's gonna be released once you confirm that the change works for you.

[2021-02-27 10:19] ohank commented on #251
Ok i will try it out in the comming week thanks for the fast respons 🙂

[2021-03-02 12:38] Formartha opened #253 "[question] How to control the name of the execution?"
Hello,

While running multiple tests from multiple modules, all the test are being grouped to a single "name" entry under the launch name.

How do I control it?

[2021-03-02 12:55] iivanou commented on #253
@Formartha, is what you are seeing the same to issue #251?

[2021-03-02 13:11] iivanou commented on #241
Closing this one, the log batches mechanism has been fixed in client version 5.0.9.

[2021-03-02 13:11] #241 closed

[2021-03-02 13:12] #68 closed

[2021-03-02 13:17] iivanou commented on #248
@clacroix12, Can we close it?

[2021-03-07 13:23] Formartha commented on #253
Exactly!

[2021-03-09 09:23] iivanou commented on #253
Can u try changes from #252?

[2021-03-09 09:48] Formartha commented on #253
How can I try it?

[2021-03-09 09:50] iivanou commented on #253
Apply changes to your local agent code.

[2021-03-09 09:53] Formartha commented on #253
I'm installing based on a docker-compose file. do you have a docker pushed already so I can pick the latest?

[2021-03-09 10:09] iivanou commented on #253
We do not manage any docker images here. Agent's code is released as a Python package.

[2021-03-09 10:20] Formartha commented on #253
Sorry, I was mixing between the agent and the actual deployment.
So the new python pkg. is released or should I apply only your changes to my local repo?

[2021-03-09 10:26] iivanou commented on #253
Only apply changes to the local repo.

[2021-03-09 11:44] Formartha commented on #253
fixed.
can you proceed with distribution of the new pkg?

[2021-03-09 12:45] Formartha commented on #253
There are more changes I would like to introduce - how can I get permissions to do it?

[2021-03-09 12:55] iivanou commented on #253
Just create a new PR.

[2021-03-09 13:24] Formartha commented on #251
please merge it, it works.

[2021-03-09 17:42] #251 closed

[2021-03-09 23:21] clacroix12 commented on #248
It doesn't seem like this is an issue with the pytest agent itself so we can close this one out.

[2021-03-10 08:44] iivanou commented on #248
@clacroix12 It was an issue with the client. Log batches had not been working for some time.

[2021-03-17 11:48] Formartha opened #255 "Connect RP logger to rootlogger"
Hi,

In our project we are overriding the root logger every test/fixture. the reason is that we are creating different segments and storing them to different locations.

Currently, I'm struggling to incorporate the report portal logger even using the fixture as listed. What I'm missing there?

It's not writing it to RP even when I was able to add the rp handler to the root logger.

Thanks

[2021-03-17 12:18] iivanou commented on #255
By default logging to RP is disabled. You need to set the appropriate log level either via *.ini file(`rp_log_level = 'INFO'`) or via cmd line option.

[2021-03-17 12:35] Formartha commented on #255
Tried it, but it's not working. I guess it's because we are overriding the default root logger.
The default pytest logging infrastructure should be enabled? if so, I'll have to fork out the project as we aren't using it (it's very limited if you'd ask me)

[2021-03-17 12:52] iivanou commented on #255
Definitely. Look into [this](https://github.com/reportportal/agent-python-pytest/blob/master/pytest_reportportal/listener.py#L56) code.

[2021-03-18 07:36] Formartha commented on #255
Okay,
Enabled it, but it still isn't working. is there a way to incorporate the RP logger w/o having the need to bond it to pytest logger?

[2021-03-18 09:36] iivanou commented on #255
You can patch your logger the way it is done for the Pytest logger. It can be done much easier comparing to the current implementation in the agent.

[2021-03-25 06:35] Formartha commented on #255
Was able to do it. can close the ticket.
I'll raise another question related to xdist and the hierarchy level

[2021-03-25 06:40] #255 closed

[2021-04-08 11:17] dkuchynskyi opened #262 "'reportportal_client.errors.ResponseError: 4001: Incorrect Request'"
Error appears during runnining tests with ReportPortal and the latest Pytest:

reportportal_client.errors.ResponseError: 4001: Incorrect Request. [Field 'name' should not contain only white spaces and shouldn't be empty. Field 'name' should have size from '1' to '256'.]

python 3.8.3
pytest-reportportal==5.0.8
pytest == 6.2.3

full log:
INTERNALERROR> Traceback (most recent call last):
INTERNALERR

[2021-04-08 11:30] iivanou commented on #262
@dkuchynskyi reportportal-client version? Debug logs, please. Steps/code to reporduce?

[2021-04-08 12:09] dkuchynskyi commented on #262
Rebuild the whole environment fixed the problem

[2021-04-08 12:09] #262 closed

[2021-05-26 12:01] leonardsaraujo opened #266 "Test gets interrupted status on ReportPortal[v5]"
I'm having a problem with the tests status on ReportPortal.

Some tests have the status: interrupted

As shown in the images below.

![Capturar](https://user-images.githubusercontent.com/82540052/119655893-7492fe80-be00-11eb-8823-d5e024b41915.PNG)
![Capturar](https://user-images.githubusercontent.com/82540052/119656184-cb003d00-be00-11eb-96b5-4e89cd17d8f4.PNG)

[2021-06-02 20:05] clacroix12 opened #263 "Support setting a value for ReportPortalService is_skipped_an_issue argument"
**Is your feature request related to a problem? Please describe.**
The ReportPortalService class has an argument named [is_skipped_an_issue](https://github.com/reportportal/client-Python/blob/master/reportportal_client/service.py#L184). My team would like to leverage this setting so skipped test cases are _not_ automatically marked as "To Investigate" when they are posted to Report Portal. Current

[2021-06-03 18:01] #263 closed

[2021-06-08 20:08] clacroix12 commented on #248
@iivanou I am reopening this issue because I am still seeing this on report portal 5.3.5 and I was able to reproduce it on demo.reportportal.io. The launch/logs have been deleted by now but I can run a simple test (see below) to reproduce it. The test code that I used to reproduce this issue is simply logging a few times every second for a minute. You can adjust the duration if necessary but I was

[2021-06-13 16:35] bivas6 opened #265 "After upgrading to latest, second part of fixtures does not executed"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
A clear and concise description of what the bug is.

I have a pytest auto-use fixture, with a test scope (should be executed every test).
It does some logic business before the test start, then yield, and after the test finishes it log with some attachments.
It works perfec

[2021-06-14 09:55] iivanou commented on #265
@bivas6 From what version did you jump to 5.0.9? Have you tried updating reportportal-client? It's not the latest version.

[2021-06-17 09:04] bivas6 commented on #265
This is not a bug.
I used to check if report-portal is enabled in a specific pytest run by testing if rp_launch is exists in the test config options.
This parameter is always return None now, so I changed the condition and it works as expected.

Thanks.

[2021-06-17 09:04] #265 closed

[2021-06-22 11:50] rameshchandru88 opened #268 "Highlight Verification Step Pass/Fail with Green/Red Color coding."
As part of a nunint framework, we use ReportPortal to capture the run report for each Test case executed .
Query: Is it possible to highlight or capture the verification steps in a separate report with Color coding as Pass/Fail with Green/Red color.

Expected Solution:

An clear HTML Report with Table of Test case Steps and Step status(Pass/Fail) highlighted in different colors in separate column

[2021-06-22 12:00] HardNorth commented on #268
@rameshchandru88 Why do you posted this into pytest integration project?
Apart from that, you can control your logging level to get rid of the mess and leave only verification entries.

Anyway, moving to core project.

[2021-06-23 13:09] cr-idanhaim opened #269 "Skipped tests marks launch status as Failed"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
Today when I have at least 1 skipped test the whole status is marked as `Failed` but I would like to see that the status is marked as `Passed` (of course when I don't have failed tests at all).
For example:
Let's assume I have 10 tests that 8 passed and 2 skipped. The statu

[2021-06-23 14:36] iivanou commented on #269
@cr-idanhaim Please, provide debug logs and pytest output if it's possible. Thanks.

[2021-06-24 05:00] rtanyas commented on #263
@iivanou
Please, help me figure out when and how is_skipped_an_issue works?
I installed pytest-reportportal == 5.0.9, but the skipped tests (because they do not fit in the configuration) are still marked as ToInvestigate with is_skipped_an_issue = False in pytest.ini.
What am I missing to make it works?

[2021-06-24 05:56] iivanou commented on #263
@rtanyas Please, update version to 5.0.10. This version includes fixes for that functionality.

[2021-06-24 08:02] rtanyas commented on #263
@iivanou it works with 5.0.10, thank you!

[2021-06-27 10:47] cr-idanhaim commented on #269
@iivanou
Where can I find debug logs? Could you send a full paths to relevant logs?

[2021-07-01 15:17] petr-balogh commented on #248
Hello @iivanou , can you please take a look? We need to really move with this issue. Thanks!

[2021-07-04 06:49] cr-idanhaim commented on #269
@iivanou
Any update on my questions?

[2021-07-05 16:19] iivanou commented on #269
It depends on how you run pytest. By default, pytest saves logs in the root directory where the framework is being invoked. By default debug logging is disabled. Add --log-level=DEBUG to the command line to enable debugging

[2021-07-05 16:32] iivanou commented on #248
Is that reproducible with the latest version of packages? Have you tried playing with max_pool_size?

[2021-07-06 10:24] lukaspj opened #272 "Log batches are not flushed when the test is not run in the main process"
**Describe the bug**
This agent batches logs, these batches are not always flushed. We believe this happens when the test is not run in the main thread.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run tests in multiple threads using xdist

**Expected behavior**
Batches should flush, perhaps after every test?

**Actual behavior**
Batches would not flush, resulting in no output showi

[2021-07-07 09:12] cr-idanhaim commented on #269
As we discussed in the Slack channel, I uploaded the log file you requested and screenshot:
![image](https://user-images.githubusercontent.com/54851013/124733092-8813a800-df1c-11eb-8caf-3c0495947911.png)

[2021-07-07 12:38] iivanou commented on #272
Looks like an issue. Terminate service at the end of the test is not a good idea...

[2021-07-07 22:56] clacroix12 commented on #248
I believe I was using the latest versions when I reproduced it last, however I can re-verify that is the case with the current latest versions. Is there an easy way to manipulate the `max_pool_size` through the pytest agent or is that something I need to change manually in the underlying python client?

[2021-07-09 22:59] clacroix12 commented on #248
@iivanou I have reproduced the issue using the test case I commented above with the following agent/client versions:

[code]

[2021-07-19 18:24] rthardin opened #273 "AttributeError: 'Namespace' object has no attribute 'rp_ignore_errors'"
---
name: Bug report
about: Create a report to help us improve
title: 'AttributeError: 'Namespace' object has no attribute 'rp_ignore_errors''
labels: bug
assignees: ''

---

**Describe the bug**
My recent PR https://github.com/reportportal/agent-python-pytest/pull/271 has caused plugin initialization to fail in the `master` branch:

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

[2021-07-20 12:10] #273 closed

[2021-07-27 09:59] HardNorth commented on #269
As per slack discussion I had no luck reproducing your issue. I implemented a special suite which does skips in different ways and still nothing: https://github.com/reportportal/examples-python/blob/master/pytest/tests/test_skipped.py

Could you please ensure that yours extensions and fixtures do not fail tests?

BTW I used Report Portal 5.4.0 and pytest-reportportal 5.0.10

[2021-07-27 10:03] HardNorth commented on #269
Closing as "Cannot reproduce"

[2021-08-04 10:27] dkuchynskyi opened #275 ""Skipped" tests in To Investigate even with rp_is_skipped_an_issue = False"
"Skipped" tests in To Investigate even with rp_is_skipped_an_issue = False
pytest-reportportal==5.0.10
pytest == 6.2.4

Added
rp_is_skipped_an_issue = False
setting doesn't work, all skiped tests added into the To Investigate section

[2021-08-04 11:24] iivanou commented on #275
It was fixed in #267 .  Update both client and agent packages. If the issue still exists, then provide debug logs. Thanks,

[2021-08-10 08:22] cr-NirKlieman commented on #269
@HardNorth

I reproduce the bug with an inner-skip test:

`def test_pass_to_show_in_report():
    assert True is True

@pytest.mark.skip(reason='no way of currently testing this')
def test_the_unknown():
    assert True is False

def test_inner_skip():
    pytest.skip("inner skip")`

When running, only the first and third tests are performed, but the final result of the launch in the report-portal

[2021-08-11 10:14] HardNorth commented on #269
Nope, still works fine:
![Screen Shot 2021-08-11 at 1 08 15 PM](https://user-images.githubusercontent.com/4364466/129012003-7d7bd481-74c4-4048-aa36-848faab45a8c.png)

[2021-08-11 10:22] HardNorth commented on #269
@cr-NirKlieman Two questions:
1. I can't recall such UI view in the recent versions of RP. That might be a backend bug if you use an old version of RP. Also this might be your modification bug. Could you please try my suite on a fresh, unmodified RP installation? We have a demo instance, you can try it: https://demo.reportportal.io/
2. Could you please ensure you use the latest version of client m

[2021-08-12 14:32] cr-NirKlieman commented on #269
@HardNorth

I reproduced the bug when I used a new RP-UI taken from here [:](https://reportportal.io/docs/Deploy-with-Docker) on my local computer. It has the same versions like your demo (5.5.0 etc).

The other component versions are:
`pytest-reportportal==5.0.10
reportportal-client==5.0.12
pytest-reportportal==5.0.10
`

The pytest.ini configuration is:
`
rp_project = probe_tests
rp_endpoint = ht

[2021-08-12 15:01] HardNorth commented on #269
@cr-NirKlieman Ahh, I've got it, it's a widget.
Tried again on the latest version of RP, still nothing:
![Screen Shot 2021-08-12 at 5 54 07 PM](https://user-images.githubusercontent.com/4364466/129219958-043e9e00-327f-47ce-aebf-0763f49ac336.png)

Probably it depends on python version, which one you use?

[2021-08-13 19:52] allan-silverstein opened #276 "Attaching large session logs to Pytest run results in pytest hanging"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
Pytest run hangs when trying to attach/upload large file to report portal.

**Steps to Reproduce**
Steps to reproduce the behavior:
Run a pytest test which creates a large log file.  Then try uploading that to report portal with the following code.  This works fine 99.9% of

[2021-08-18 10:17] cr-NirKlieman commented on #269
We use Python 3.8.6

@iivanou

That's the pytest debug logs:
`[18-08-2021 13:16:11] INFO     root: Setup run started
============================= test session starts =============================
collecting ... collected 2 items

[18-08-2021 13:16:11] DEBUG    test_linux_and_mac_collection.tests.collection.linux.test_user_info: Case1 start
test_user_info.py::test_pass[BB_Linux_Ubuntu_20_10-1-None

[2021-08-18 11:09] iivanou commented on #269
I do not see any logs from the agent and the listener...

[2021-08-18 12:46] kevin-henry-fernride opened #277 "test_item does not have attribute "obj" if the testcase is a launch_testing.pytest.hooks.LaunchTestItem"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
I am running launch_test through pytest call to use reportportal. Unfortunately the launch_testing.pytest.hooks.LaunchTestItem has no .obj attribute, which raises an exception at pytest_reportportal/service.py line 714

1: INTERNALERROR> Traceback (most recent call last):
1

[2021-08-18 15:17] cr-NirKlieman commented on #269
Here are the logs of the agent:

Test1 (passed)

[code]

[code]

[code]

Test 2 (inner skip)
[code]

[code]

[code]

[2021-08-18 16:02] iivanou commented on #269
You can notice that your test items were reported correctly. So, it does not seem to be an agent's problem.

[2021-09-08 13:36] #275 closed

[2021-09-08 13:42] HardNorth commented on #269
@cr-NirKlieman I was able to reproduce the behavior when a nested step failed (a step with a field: `hasStats:false`) it has no stats, so no failed tests in column, but the launch will be failed. Do you use nested-steps?

[2021-09-16 23:21] Niccolum opened #281 "Coverage"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I see test results without full code coverage in reportportal.

**Describe the solution you'd like**
If possible - check, if pytest-cov (most popular plugin for coverage) is installed and send coverage info to reportportal

[2021-09-17 08:27] iivanou commented on #281
@Niccolum Are you sure the bug resides in the correct project? This one includes code coverage.
![image](https://user-images.githubusercontent.com/8349078/133750807-d9e640cd-eea2-4d9e-850f-50c49d12fd3b.png)

[2021-09-17 08:31] Niccolum commented on #281
@iivanou I don't know any developers, who use pytest without pytest-cov. It's like Django without DRF. Why not?

[2021-09-17 08:33] iivanou commented on #281
I do not understand you. What the problem is? Coverage for this agent is generated via pytest-cov....

[2021-09-17 08:35] Niccolum commented on #281
Is it possible to send result of pytest-cov to reportportal? This is my main point)

[2021-09-17 08:40] iivanou commented on #281
What is the use case? The results reported by the pytest-cov will duplicate the results which are sent by the agent.

[2021-09-17 08:50] Niccolum commented on #281
Hmm. Maybe it's my missing. I can't find this info in reportportal to create custom graphs

[2021-09-17 08:50] #281 closed

[2021-09-17 09:03] iivanou commented on #281
@Niccolum Double-check where you added --reportportal arguments to your pytest execution or not. The results will be reported by the agent only if that argument is passed to the pytest.

[2021-09-19 13:09] cr-NirKlieman commented on #269
@HardNorth We're not using nested tests. But when I tried to to, the same behavior you detected, happened at our environment as well.

[2021-11-30 16:26] ramih-saferide opened #284 "401 Client Error: Unauthorized for url"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
When executing the project from Jenkins, I get the following output:
[code]
but when I connect with ssh to the server with the same credentials and execute the exact pytest command, it runs without any issue,
I'm not sure where the issue occure.

**Package versions**
`pytes

[2021-12-02 13:37] HardNorth commented on #284
@ramih-saferide So because you have no idea what's happening you decided to put this on us?
Can't accept that. Either you provide detailed bug report either any such issue will be closed.

[2021-12-02 13:37] #284 closed

[2021-12-02 14:22] HardNorth commented on #277
@kevin-henry-fernride I'm not getting how you try to use Report Portal with pytest and why you don't have such field. Because this field is initialized by pytest and I don't see any ways how you might skip it, except some hacky ways. A recommended way to use pytest was represented in our examples: https://github.com/reportportal/examples-python/tree/master/pytest

Anyway the fix looks simple, it's

[2021-12-02 14:22] #277 closed

[2021-12-03 10:22] HardNorth commented on #266
@leonardsaraujo The latest version of `pytest` agent with all fixes is `5.0.10`, please update it.

[2021-12-03 10:22] #266 closed

[2021-12-03 10:51] HardNorth commented on #142
I've already implemented an example how anyone can get a launch URL and print it to Report Portal and in console:
https://github.com/reportportal/examples-python/blob/master/pytest/tests/test_launch_url_get.py

I believe this is completely closes the question. And it doesn't require any agent update. Moreover not all users might want to see such info in logs, so I don't see any necessity to implem

[2021-12-03 10:51] #142 closed

[2021-12-06 08:38] HardNorth commented on #76
@aliaksandr-trush @vkolgi I'm not really getting what would you like to see. Could you please elaborate it?
I understand that some time passed by already, but now we want to close all longstanding issues.

For those who would like to use `skipif` pytest feature I created an example: https://github.com/reportportal/examples-python/blob/master/pytest/tests/test_skip_condition.py

And there is possib

[2021-12-06 08:44] HardNorth commented on #79
Abandoned

[2021-12-06 08:44] #79 closed

[2021-12-08 10:05] #99 closed

[2021-12-15 14:38] HardNorth commented on #102
Abandoned.

[2021-12-15 14:38] #102 closed

[2021-12-15 14:39] HardNorth commented on #109
Abandoned

[2021-12-15 14:39] #109 closed

[2021-12-16 14:08] HardNorth opened #287 "Remove redundant hierarchy flags"
`service.PyTestServiceClass.collect_tests` method is too complex to support. We need to remove the following flags to simplify it:

- rp_display_suite_test_file
- rp_hierarchy_dir_path_separator
- rp_hierarchy_dirs_level
- rp_hierarchy_parametrize
- rp_hierarchy_class
- rp_hierarchy_module
- rp_hierarchy_dirs

[2021-12-16 14:19] #191 closed

[2021-12-23 13:21] HardNorth commented on #158
The issue is not reproducible with `rp_ignore_errors = True`. However this flag is absolutely redundant. We are reporting tool and should not fail by default.

[2021-12-23 13:21] #158 closed

[2021-12-23 13:22] HardNorth opened #288 "Remove `rp_ignore_errors` flag"
We are reporting tool we should not fail by default.

[2021-12-23 13:54] HardNorth commented on #269
Closing as "cannot reproduce"

[2021-12-23 13:54] #269 closed

[2021-12-23 14:00] HardNorth commented on #200
It's not related to pytest agent. It's a UI feature request.

[2021-12-23 14:01] HardNorth commented on #40
Done with Github Actions

[2021-12-23 14:01] #40 closed

[2021-12-23 14:02] HardNorth commented on #76
Abandoned

[2021-12-23 14:02] #76 closed

[2022-01-04 08:59] HardNorth commented on #276
@allan-silverstein Please use the latest pytest agent: 5.0.10, as for now.

[2022-01-04 08:59] #276 closed

[2022-01-04 09:02] HardNorth commented on #272
@lukaspj Could you please try to reproduce the issue with the latest `reportportal-client` (5.1.0)?

[2022-01-04 09:03] HardNorth commented on #160
Abandoned

[2022-01-04 09:03] #160 closed

[2022-01-04 09:09] HardNorth commented on #204
@0xIslamTaha, @zeburek could you please check that on the latest `reportportal-client` version (5.1.0)?

[2022-01-05 12:51] HardNorth commented on #248
Hmm, I'm not able to reproduce that with the latest versions:
[code]
Unless I'll get a reproducible example I count that as fixed.

[2022-01-05 12:51] #248 closed

[2022-01-05 13:46] HardNorth opened #289 "Post issues as 'externalSystemIssues'"
Currently we just create a comment when we post issue from code like this:
[code]
But it's more correct to use `externalSystemIssues` field for that.

[2022-01-05 13:48] HardNorth commented on #167
@AnatoliiSliusarievSecurrency It's not possible to use `DB` issue type unless you register it in your project. E.G. here: http://localhost:8080/ui/#default_personal/settings/defect
Everything else works as expected for now. I added special example to demonstrate the feature: https://github.com/reportportal/examples-python/blob/master/pytest/tests/test_issue_id.py

I also moved feature logic update

[2022-01-05 13:48] #167 closed

[2022-01-06 11:20] HardNorth commented on #91
Looks OK-ish to me:
[code]

[2022-01-06 11:20] #91 closed

[2022-01-06 15:43] san7ket opened #290 "Can we have a new release on pypi."
**Is your feature request related to a problem? Please describe.**
Last release was Jun 18th 2021, Multiple fixes have been merged since. Could it be possible to do a minor release with these fixes

[2022-01-07 18:18] HardNorth commented on #290
Sure thing, I'm going to do this on Monday.

[2022-01-07 18:18] #290 closed

[2022-01-11 12:28] #272 closed

[2022-01-19 17:14] vfalco02 opened #293 "How do we know if connection fails on startup"
It is my understanding that if there is an issue connecting to RP, then it will fail silently and continue on with the tests.

My question is - how do we know if a failure occurs (obviously without checking RP)?

I want to have most of the arguments get configured by the end user, but not pushed up to our repository. So I need users to be able to easily know if they did not enter `rp_uuid` or some

[2022-01-19 18:08] HardNorth commented on #293
By error in logs / output. Something like:
[code]

[2022-01-19 18:08] #293 closed

[2022-01-19 19:39] vfalco02 commented on #293
@HardNorth I'm not seeing anything in the log. I've stopped on this line and confirm there should be a logged line https://github.com/reportportal/agent-python-pytest/blob/325f56938009ae89ae7739410adcccc0d94f2cde/pytest_reportportal/plugin.py#L170 , but nothing in my console. When investigating the `log` object I see `level=0` and also that parent `RootLogger` is set to `WARNING`.

Apologies as I'

[2022-01-19 20:06] HardNorth commented on #293
This line logs it: https://github.com/reportportal/agent-python-pytest/blob/325f56938009ae89ae7739410adcccc0d94f2cde/pytest_reportportal/plugin.py#L42

[2022-01-24 15:08] davebrochu-es opened #294 "Reporting against pre-existing suite (parent)"
---
name: Bug report
about: Create a report to help us improve
title: Reporting against pre-existing suite (parent) for multiple tests fails
labels: bug
assignees: ''

---

**Describe the bug**
I would like to use a "launch" in report portal to cover multiple phases/runs of pytests for a specific system configuration so that I can include pre-upgrade/mid-upgrade/post-upgrade results in a single pl

[2022-01-24 17:30] davebrochu-es commented on #294
Thanks @iivanou . I'd be happy to take a stab at adding support. Looking through the code though, I do see that `rp_parent_item_id` is used. https://github.com/reportportal/agent-python-pytest/search?q=rp_parent_item_id

[2022-01-24 21:21] davebrochu-es commented on #294
I'm not as familiar with the codebase, but I think the issue lies in this line
https://github.com/reportportal/agent-python-pytest/blob/325f56938009ae89ae7739410adcccc0d94f2cde/pytest_reportportal/service.py#L324

When a user passes `rp_parent_item_id` from the command line, they are indicating all tests are children of the identified parent (suite in this case). But after each test executes, the

[2022-01-27 09:55] #294 closed

[2022-01-27 13:20] davebrochu-es commented on #294
I see that this was merged to master, but how would I go about using it? It doesn't look like there is a new version in PyPI.

[2022-01-27 14:05] iivanou commented on #294
We do not publish a new release on PyPi for each change usually. You can download a new code directly from the master branch or apply the fix locally until a new package version is released.

[2022-01-27 14:36] davebrochu-es commented on #294
Thanks. Is there a rough timeline when the next release would come out?

[2022-02-04 10:28] zaneta500200 opened #297 "How can I link test case id (from JIRA) to the reportportal?"
Hi,
I'd like to link test case id (from Jira) to test executions in reportportal but I can't find any info how to do it.
I tested `rp_issue_id_marks` but this is more suitable for bugs than test cases. Thanks in advance!

[2022-02-04 10:38] iivanou commented on #297
@zaneta500200 You can wrap your test function with `@pytest.mark.tc_id('test_case')` and you will see `tc_id:test_case` among test tags in the RP UI.

[2022-02-04 10:46] zaneta500200 commented on #297
@iivanou thanks for quick response - I figured out the tag but it would be much more convenient to have it linked in the same way as bugs (issue egd-1234 on the print screen
![Zrzut ekranu 2022-02-04 114259](https://user-images.githubusercontent.com/31521085/152515978-f5a00e97-f42a-4f26-a380-fe32a8d17631.png)
)

[2022-02-04 11:00] iivanou commented on #297
`@pytest.mark.tc_id(" [{tc_id}]({url})")`

[2022-02-04 18:10] davebrochu-es opened #298 "ReportPortal shows test run as "To Investigate" when pytest filtering result in no tests running"
---
name: Bug report
about: Create a report to help us improve
title: '
labels: bug
assignees: ''

---

**Describe the bug**
Sometimes pytest cases are written such that they only run on specific configurations, versions, or types of systems (functional testing). When pytest launches and collects tests to run, it is possible and acceptable that the collection may result in 0 tests to run. When thi

[2022-02-04 21:44] HardNorth commented on #298
It doesn't make sense making empty runs. In most other cases it means problem. So no, I don't see any reasons to change behaviour. For your particular case you can modify the agent to have them empty.

[2022-02-04 21:44] #298 closed

[2022-02-07 13:37] alphoense commented on #297
@iivanou hi, I'm working with @zaneta500200 on this problem.

Injecting such markup `[name](url)` works though for description but not for tags. (
We've tried to implement your suggestion with few modification, but everything we've got was plain url in tag on test (if solution was working)
We were trying to insert a html link as well, but so far all characters were escaped correctly from backed si

[2022-02-08 11:39] iivanou commented on #297
We can implement passing `test_case_id` to the common client. The information about ID will be displayed the following way:
![image](https://user-images.githubusercontent.com/8349078/152979844-3d1444dc-76ad-4b8b-8f33-e4e2e0afdece.png)
Are u ok with that? The is no way to do it like for issues.

[2022-02-17 12:28] HardNorth commented on #287
Done in https://github.com/reportportal/agent-python-pytest/tree/5.1

[2022-02-17 12:28] #287 closed

[2022-02-17 12:32] HardNorth commented on #89
Done in: https://github.com/reportportal/agent-python-pytest/tree/5.1

[2022-02-17 12:32] #89 closed

[2022-02-22 12:07] dagansandler opened #299 "When reporting to an existing launch, the launch gets closed by the agent"
---
name: Bug report
about: Create a report to help us improve
title: 'When reporting to an existing launch, the launch gets closed by the agent'
labels: bug
assignees: ''

---

**Describe the bug**
When reporting to an existing launch, the launch gets closed by the agent, although documentation suggests lifecycle of the launch will not be handled by the plugin.

**Steps to Reproduce**
Steps to re

[2022-02-22 13:23] #299 closed

[2022-03-09 13:03] #288 closed

[2022-03-10 12:16] HardNorth commented on #297
Implemented in: https://github.com/reportportal/agent-python-pytest/tree/5.1

[2022-03-10 12:16] #297 closed

[2022-03-10 12:19] #289 closed

[2022-03-24 12:57] shague opened #300 "Is there a way to remove the full path from the test name created by ReportPortal"
We are currently using Report Portal 5.0.11 and cannot upgrade to 5.1 which has the tc_id marks. We want to make use of the history feature so that we can see the history of a test case. The history is only showing a single result, which we think is because
the test case id is including the absolute path to the test but the path has a random id in it, that comes from the job infrastructure.

For e

[2022-03-28 11:49] fenchu opened #301 "support for pytest-html reports"
We have highly tuned pytest-html reports showing screenshots walk-through and screenshots on errors.
Is there a way to upload the entire directory with report, screenshots and other log files?

Currently we use gitlab-ci to run the tests, and report it to jenkins via its rest-api, there the report looks as it should, but jenkins have other limitations.

Keep up the good work.

[2022-04-05 12:49] #204 closed

[2022-04-12 11:13] HardNorth commented on #300
Well, today I merged 5.1 branch. So now you can take new code as example: https://github.com/reportportal/agent-python-pytest/blob/master/pytest_reportportal/service.py#L435

[2022-04-12 11:13] #300 closed

[2022-04-12 11:19] HardNorth commented on #186
Today I merged 5.1 branch. So now you can use full-functioning Nested Steps.

[2022-04-12 11:19] #186 closed

[2022-04-12 11:27] HardNorth commented on #133
I believe there should be a way to configure that with standard logging mechanism. I'll seek for examples.

[2022-04-12 12:42] HardNorth commented on #301
@fenchu Do you want a tool which will parse your report and fulfill Report Portal accordingly?

[2022-04-13 08:58] dkuchynskyi opened #303 "Import error for 'RPLogger' and RPLogHandler after update to 5.1.0"
Hi!

selenium==4.1.3
pytest == 7.1.1
pytest-reportportal==5.1.0

After updating to the latest version of pytest report portal (5.1.0) error appears:

  ImportError: cannot import name 'RPLogger' from 'pytest_reportportal'

thanks!

[2022-04-13 09:18] lolrenx commented on #303
same error here using pylenium (having report portal as dependency)
**conftest.py:15: in <module>
    from pytest_reportportal import RPLogger, RPLogHandler
E   ImportError: cannot import name 'RPLogger' from 'pytest_reportportal' (.../venv/lib/python3.10/site-packages/pytest_reportportal/__init__.py)**

[2022-04-13 09:24] lolrenx commented on #303
looks like RPLogger was removed from the file
https://github.com/reportportal/agent-python-pytest/compare/5.0.12...5.1.0#diff-61c89fa72bfd8818344ac0ce7995fcbdaadc5f0e0861558db7eb4e3f6ff7f3d7

[2022-04-13 09:32] HardNorth commented on #303
Yes, it is moved. That's why we changed major version.

[2022-04-13 09:32] #303 closed

[2022-04-13 09:41] dkuchynskyi commented on #303
Please update documentation, now it is looks like that:
![image](https://user-images.githubusercontent.com/34566341/163148004-bf35bb84-3595-4619-9cc5-c2f071682007.png)

[2022-04-13 10:05] HardNorth commented on #303
@dkuchynskyi Done. Yeah probably not the best decision to move it at once. Will do some transition period with class deprecation next time.

[2022-04-13 14:37] rnestler commented on #303
Hmm? The major version didn't change. It is still 5.

[2022-04-13 17:57] HardNorth commented on #303
Yes, this one version follows server's API changes.

[2022-04-19 07:31] Ern-st commented on #288
@HardNorth it would still be nice to be able to set the flag… is it possible to revert this commit and instead set the value to `False` by default?